/* Variables */

:root {
  --spacing-1: 10px;
  --spacing-2: 15px;
  --spacing-3: 20px;
  --spacing-4: 30px;
  --spacing-5: 40px;
  --spacing-gap-center: var(--spacing-2);

  --color-neutral-50: #f5f5f1;
  --color-neutral-100: #E1DAD2;
  --color-neutral-200: #88837f;
  --color-neutral-700: #121215;
  --color-twitterBlue-500: #22B1F8;
  --color-yellow-500: #f8ac22;
  --color-yellow-700: #eb9019;

  --font-family-sans: "Source Sans Pro", system-ui, sans-serif;
  --font-family-serif: "Source Serif Pro", serif;

  /* URL: https://www.modularscale.com/?18&px&1.2 */
  --font-size-1: 11px;
  --font-size-2: 13px;
  --font-size-3: 15px;
  --font-size-4: 18px;
  --font-size-5: 22px;
  --font-size-6: 26px;
  --font-size-7: 31px;
  --font-size-8: 37px;
  --font-size-9: 45px;

  --filter-brightness-hover: brightness(1.2);
  --filter-brightness-active: brightness(0.8);

  --transition-slow: 0.5s;
  --transition-fast: 0.2s;
}

@media (min-width: 640px) {
  :root {
    --spacing-1: 20px;
    --spacing-2: 30px;
    --spacing-3: 40px;
    --spacing-4: 60px;
    --spacing-5: 80px;

    /* URL: https://www.modularscale.com/?20&px&1.2 */
    --font-size-1: 12px;
    --font-size-2: 14px;
    --font-size-3: 17px;
    --font-size-4: 20px;
    --font-size-5: 24px;
    --font-size-6: 29px;
    --font-size-7: 35px;
    --font-size-8: 41px;
    --font-size-9: 50px;
  }
}

@media (min-width: 960px) {
  :root {
    --spacing-1: 20px;
    --spacing-2: 40px;
    --spacing-3: 60px;
    --spacing-4: 90px;
    --spacing-5: 120px;
  }
}

/* Globals & layout */

* {
  box-sizing: border-box;
}

html, body {
  background-color: #3d3d4d;
  color: #3d3d4d;
  font-family: var(--font-family-serif);
  font-size: var(--font-size-4);
  line-height: 1;
}

main {
  background-color: var(--color-neutral-50);
  margin: 0 auto;
  max-width: 2000px;
}

/* Utility classes */

.u-boldSpaced {
  letter-spacing: 0.05em;
  font-weight: bold;
  text-transform: uppercase;
}

.u-centeredBox {
  margin-left: auto;
  margin-right: auto;
}

.u-colorYellow {
  color: var(--color-yellow-500);
}

.u-offsetDownSmall {
  --offset: var(--spacing-3);

  margin-bottom: calc(-1 * var(--offset));
  margin-top: var(--offset);
}

.u-offsetDownLarge {
  --offset: var(--spacing-5);
  
  margin-bottom: calc(-1 * var(--offset));
  margin-top: var(--offset);
}

.u-unstyledList {
  padding: 0;
  list-style: none;
}

.u-widthMedium {
  max-width: 1400px;
}

.u-widthFull {
  /* TODO: is this class still needed? */
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-sans);
  line-height: 1.2;
  text-transform: uppercase;
}

a {
  border-bottom: 1px solid currentColor;
  color: var(--color-yellow-700);
  text-decoration: none;
  transition: filter var(--transition-fast);
}

a:hover {
  filter: var(--filter-brightness-hover);
}

a:active {
  filter: var(--filter-brightness-active);
}

p.is-lede {
  font-size: var(--font-size-5);
}

/* Navigation */

.Nav {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.Nav-inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-2) 0;
}

.Nav-heading {
  color: var(--color-neutral-100);
  font-family: var(--font-family-serif);
  font-size: var(--font-size-4);
  margin: 0;
  text-transform: none;
}

.Nav-dropdownLink {
  color: var(--color-neutral-200);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-2);
  text-decoration: none;
}

/* Page header */

.PageHeader {
  background-color: var(--color-neutral-700);
  border-bottom: 4px solid var(--color-yellow-500);
  color: var(--color-neutral-100);
  display: flex;
  flex-direction: column;
  height: 90vh;
  line-height: 1;
  justify-content: center;
  min-height: 750px;
  max-height: 1000px;
  padding: calc(var(--spacing-4) * 2) var(--spacing-1) var(--spacing-4);
}

.PageHeader strong {
  color: var(--color-neutral-50);
}

.PageHeader-heading {
  color: var(--color-yellow-500);
  font-size: var(--font-size-8);
  font-weight: 400;
  line-height: 1.3;
  margin: var(--spacing-4) auto;
  width: 100%;
}

.PageHeader-heading strong {
  color: var(--color-neutral-100);
  display: block;
  font-size: var(--font-size-9);
  font-weight: 700;
  letter-spacing: 0.04em;
}

.PageHeader-subheading {
  color: var(--color-neutral-200);
  font-size: var(--font-size-2);
  margin-bottom: var(--spacing-1);
  margin-top: var(--spacing-1);
}

.PageHeader-skillsList {
  line-height: 1.8;
  padding-top: 0.3em;
}

.PageHeader-link {
  align-items: center;
  display: flex;
  line-height: 1;
  border-bottom: 0;
}

.PageHeader-link--twitter {
  color: var(--color-twitterBlue-500);
}

.PageHeader-linkIcon {
  display: inline-block;
  height: 24px;
  margin-right: calc(var(--spacing-2) / 2);
  width: 24px;
}

/* Work wrapper */

.Work {}

.Work-heading {
  color: var(--color-neutral-700);
  font-size: var(--font-size-7);
  margin: 0 0 calc(-1 * var(--spacing-3));
  /* margin: var(--spacing-4) 0 var(--spacing-2); */
  /* TODO: remove the above? */
}

.Work-heading strong {
  display: block;
  font-size: var(--font-size-8);
}

.Work-heading em {
  color: var(--color-yellow-500);
  font-style: normal;
}

.Work-meta {}

.Work-meta dt {
  display: none;
}

.Work-meta dd {
  align-items: center;
  display: flex;
  margin: 0 0 var(--spacing-1) 0;
}

.Work-metaIcon {
  display: inline-block;
  height: 24px;
  margin-right: calc(var(--spacing-2) / 2);
  width: 24px;
}

/* Content rows */

.ContentRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacing-5);
  margin-top: var(--spacing-5);
  width: 100%;
  /* background-color: rgba(0, 255, 0, 0.1); */
  /* TODO: remove the above? */
}

.ContentRow-item {
  flex: 1 1 50%;
  /* background-color: rgba(0, 0, 255, 0.1); */
  /* TODO: remove the above? */
}

.ContentRow-item > *:first-child {
  margin-top: 0;
}

.ContentRow-item > *:last-child {
  margin-bottom: 0;
}

.ContentRow-item + .ContentRow-item {
  margin-left: var(--spacing-gap-center);
}

.ContentRow-item--halfWidth {
  flex: 0 1 calc(50% - var(--spacing-gap-center) / 2);
}

.ContentRow-itemImage {
  display: block;
  width: 100%;
}

.ContentRow-item p {
  line-height: 1.5;
}