/* Globals & layout */

* {
  box-sizing: border-box;
}

html,
body {
  background-color: #3d3d4d;
  color: #3d3d4d;
  font-family: serif;
  font-size: 20px;
  line-height: 1;
}

main {
  background-color: #f2f2f2;
  margin: 0 auto;
  max-width: 2000px;
}

/* Utility classes */

.u-centeredBox {
  margin-left: auto;
  margin-right: auto;
}

.u-widthMedium {
  max-width: 1400px;
}

.width-full {
  /* TODO: is this class still needed? */
}

/* Page header */

.PageHeader {
  padding: 120px;
  background-color: darkgrey;
}

/* Content rows */

.Content {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: [content-left] 1fr [content-middle] 1fr [content-right];
}

.Content-header {
  grid-column: left-content / center-content;
  display: none;
}

.Content-inner {
  
}

.Content-inner-left {
  grid-column: left-content / center-content;
}

.Content-inner-right {
  grid-column: center-content / right-content;
}

.Content-inner img {
  display: block;
  width: 100%;
}

.Content-inner--left {
  
}

.Content-inner--right {
  
}