/* Variables */

:root {
  --spacing-0: 10px;
  --spacing-1: 15px;
  --spacing-2: 20px;
  --spacing-3: 30px;
  --spacing-4: 40px;
  --spacing-5: 50px;
  --spacing-gap-center: var(--spacing-2);
  --spacing-side-padding: var(--spacing-1);
  --max-width-text: 640px;
  --max-width-content-row: 1160px;

  --border-radius: 4px;
  --size-icon: 24px;

  --color-neutral-50: #f5f5f1;
  --color-neutral-100: #ecebe8;
  --color-neutral-200: #E1DAD2;
  --color-neutral-300: #88837f;
  --color-neutral-400: #615b57;
  --color-neutral-700: #38383f;
  --color-neutral-800: #25252b;
  --color-neutral-900: #080808;
  --color-blue-500: #228DF8;
  --color-twitterBlue-500: #22B1F8;
  --color-yellow-500: #f8ac22;
  --color-yellow-700: #eb9019;

  --font-family-sans: "Concourse", system-ui, sans-serif;
  --font-family-serif: "Source Serif Pro", serif;

  /* URL: https://www.modularscale.com/?18&px&1.15 */
  --font-size-1: 12px;
  --font-size-2: 14px;
  --font-size-3: 16px;
  --font-size-4: 18px;
  --font-size-5: 21px;
  --font-size-6: 24px;
  --font-size-7: 27px;
  --font-size-8: 31px;
  --font-size-9: 36px;

  --font-letter-spacing: 0.04em;

  --filter-brightness-hover: brightness(1.2);
  --filter-brightness-active: brightness(0.8);

  --transition-slow: 1.0s;
  --transition-average: 0.5s;
  --transition-fast: 0.2s;
}

@media (min-width: 480px) {
  :root {
    --spacing-side-padding: var(--spacing-2);
  }
}

@media (min-width: 640px) {
  :root {
    --spacing-1: 20px;
    --spacing-2: 30px;
    --spacing-3: 40px;
    --spacing-4: 60px;
    --spacing-5: 80px;

    /* URL: https://www.modularscale.com/?20&px&1.2 */
    --font-size-1: 12px;
    --font-size-2: 14px;
    --font-size-3: 17px;
    --font-size-4: 20px;
    --font-size-5: 24px;
    --font-size-6: 29px;
    --font-size-7: 35px;
    --font-size-8: 41px;
    --font-size-9: 50px;
  }
}

@media (min-width: 960px) {
  :root {
    --spacing-1: 20px;
    --spacing-2: 35px;
    --spacing-3: 50px;
    --spacing-4: 75px;
    --spacing-5: 100px;
  }
}

@media (min-width: 1280px) {
  :root {
    --spacing-1: 20px;
    --spacing-2: 40px;
    --spacing-3: 60px;
    --spacing-4: 90px;
    --spacing-5: 120px;
  }
}

/* Globals & layout */

* {
  box-sizing: border-box;
}

html, body {
  background-color: var(--color-neutral-800);
  color: #3d3d4d;
  font-family: var(--font-family-serif);
  font-size: var(--font-size-4);
  line-height: 1;
  scroll-behavior: smooth;
}

.PageWrapper {
  background-color: var(--color-neutral-50);
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.1);
  margin: 0 auto;
  max-width: 2000px;
}

/* Utility classes */

.u-backgroundGrey,
.u-backgroundGray {
  background-color: var(--color-neutral-100);
}

.u-boldSpaced {
  letter-spacing: var(--font-letter-spacing);
  font-weight: bold;
  text-transform: uppercase;
}

.u-centeredBox {
  margin-left: auto;
  margin-right: auto;
}

.u-colorYellow {
  color: var(--color-yellow-500);
}

.u-sidePadding {
  padding-left: var(--spacing-side-padding);
  padding-right: var(--spacing-side-padding);
}

.u-unstyledList {
  padding: 0;
  list-style: none;
}

.u-noWrap {
  white-space: nowrap;
}

.u-spacingNone {
  margin-bottom: 0;
  margin-top: 0;
}

.u-spacingBottomNone {
  margin-bottom: 0;
}

.u-spacingTopNone {
  margin-top: 0;
}

.u-spacingExtraSmall {
  margin-bottom: var(--spacing-1);
  margin-top: var(--spacing-1);
}

.u-spacingBottomExtraSmall {
  margin-bottom: var(--spacing-1);
}

.u-spacingTopExtraSmall {
  margin-top: var(--spacing-1);
}

.u-spacingSmall {
  margin-bottom: var(--spacing-2);
  margin-top: var(--spacing-2);
}

.u-spacingBottomSmall {
  margin-bottom: var(--spacing-2);
}

.u-spacingTopSmall {
  margin-top: var(--spacing-2);
}

.u-spacingMedium {
  margin-bottom: var(--spacing-3);
  margin-top: var(--spacing-3);
}

.u-spacingBottomMedium {
  margin-bottom: var(--spacing-3);
}

.u-spacingTopMedium {
  margin-top: var(--spacing-3);
}

.u-spacingLarge {
  margin-bottom: var(--spacing-5);
  margin-top: var(--spacing-5);
}

.u-spacingBottomLarge {
  margin-bottom: var(--spacing-5);
}

.u-spacingTopLarge {
  margin-top: var(--spacing-5);
}

.u-widthMedium {
  max-width: var(--max-width-content-row);
}

.u-widthFull {
  /* TODO: is this class still needed? */
}

@media (max-width: 639px) {
  .u-hideUntil640 {
    display: none;
  }
}

@media (max-width: 959px) {
  .u-hideUntil960 {
    display: none;
  }
}

@media (min-width: 960px) {
  .u-960-offsetDownSmall {
    --offset: var(--spacing-3);
  
    position: relative;
    top: var(--offset);
  }
  
  .u-960-offsetDownLarge {
    --offset: var(--spacing-5);
    
    position: relative;
    top: var(--offset);
  }
}

@media (min-width: 1280px) {
  .u-1280-outset-sides {
    margin-left: calc(var(--spacing-side-padding) * -1);
    margin-right: calc(var(--spacing-side-padding) * -1);
  }
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-sans);
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
}

h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
  font-size: 1.15em;
  font-weight: 700;
}

h1 {
  font-size: var(--font-size-8);
}

h2 {
  font-size: var(--font-size-7);
}

h3 {
  font-size: var(--font-size-6);
}

h4, h5, h6 {
  font-size: var(--font-size-5);
}

a:link,
a:visited {
  border-bottom: 1px solid currentColor;
  color: var(--color-yellow-700);
  text-decoration: none;
  transition:
    background-color var(--transition-fast),
    filter var(--transition-fast),
    opacity var(--transition-fast),
    transform var(--transition-fast);
}

a:hover {
  border-bottom-width: 2px;
  filter: var(--filter-brightness-hover);
}

a:active {
  filter: var(--filter-brightness-active);
}

p.is-lede {
  font-size: var(--font-size-5);
}

/* Navigation */

.Nav {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.Nav-inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: var(--spacing-2);
  padding-top: var(--spacing-2);
}

.Nav-heading {
  color: var(--color-neutral-200);
  font-family: var(--font-family-serif);
  font-size: var(--font-size-4);
  margin: 0;
  text-transform: none;
}

.Nav-dropdownLink {
  border-bottom: 0;
  color: var(--color-neutral-300);
  display: inline-block;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-2);
}

/* Page header */

.PageHeader {
  background-color: var(--color-neutral-900);
  background-image: url("../img/header-bg-1000.jpg");
  background-position: center center;
  background-size: cover;
  border-bottom: 4px solid var(--color-yellow-500);
  color: var(--color-neutral-200);
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1;
  padding: var(--spacing-5) 0 var(--spacing-2);
}

@media
  (max-width: 959px) and (-webkit-min-device-pixel-ratio: 1.5),
  (max-width: 959px) and (min-resolution: 144dpi) {
  .PageHeader {
    background-image: url("../img/header-bg-1000@2x.jpg");
  }
}

@media (min-width: 960px) {
  .PageHeader {
    background-image: url("../img/header-bg-2000.jpg");
  }
}

@media
  (min-width: 960px) and (-webkit-min-device-pixel-ratio: 1.5),
  (min-width: 960px) and (min-resolution: 144dpi) {
  .PageHeader {
    background-image: url("../img/header-bg-2000@2x.jpg");
  }
}

@media (min-width: 960px) {
  .PageHeader {
    padding: var(--spacing-4) 0 var(--spacing-1);
  }
}

.PageHeader a:link,
.PageHeader a:visited {
  color: var(--color-yellow-500)
}

.PageHeader strong {
  color: var(--color-neutral-50);
}

.PageHeader-heading {
  color: var(--color-yellow-500);
  /* font-size: var(--font-size-8);
  font-weight: 400; */
  /* line-height: 1.3; */
  margin: 0 auto;
  width: 100%;
}

.PageHeader-heading strong {
  display: block;
}

.PageHeader-description {
  max-width: var(--max-width-text);
}

/* .PageHeader .ContentRow + .ContentRow {
  margin-top: 0;
} */

@media (min-width: 960px) {
  .PageHeader-description {
    max-width: none;
  }
}

.PageHeader-subheading {
  color: var(--color-neutral-300);
  font-size: var(--font-size-2);
  margin-bottom: var(--spacing-1);
  margin-top: var(--spacing-1);
}

.PageHeader-skillsList {
  line-height: 1.8;
}

.PageHeader-link {
  color: var(--color-yellow-500);
  line-height: 1;
  margin-left: calc(var(--size-icon) + var(--spacing-2) / 2);
  position: relative;
}

.PageHeader .PageHeader-link--twitter:link,
.PageHeader .PageHeader-link--twitter:visited {
  color: var(--color-twitterBlue-500);
}

.PageHeader-linkIcon {
  display: inline-block;
  height: var(--size-icon);
  margin-top: 1px;
  position: absolute;
  right: calc(100% + var(--spacing-2) / 2);
  top: 50%;
  transform: translateY(-50%);
  width: var(--size-icon);
}

/* Work wrapper */

.Work {
  /* margin-top: calc(var(--spacing-5) * -1); */
  padding-top: var(--spacing-5);
}

.Work > *:first-child {
  margin-top: 0;
}

.Work-stickyNav {
  /* margin-bottom: var(--spacing-5); */
  margin-top: var(--spacing-2);
  pointer-events: none;
  position: -webkit-sticky;
  position: sticky;
  top: var(--spacing-1);
}

.Work-projectsTrigger:link,
.Work-projectsTrigger:visited {
  background-color: var(--color-neutral-100);
  border-bottom: 0;
  border-radius: var(--border-radius);
  color: var(--color-neutral-300);
  display: inline-block;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-2);
  opacity: 0.9;
  padding: var(--spacing-1) var(--spacing-2);
  pointer-events: auto;
  position: relative;
  touch-action: manipulation;
}

@media (min-width: 960px) {
  .Work-projectsTrigger:link,
  .Work-projectsTrigger:visited {
    padding: var(--spacing-0) var(--spacing-1);
  }
}

.Work-projectsTrigger.is-active:link,
.Work-projectsTrigger.is-active:visited {
  background-color: var(--color-neutral-700);
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3);
  color: var(--color-neutral-100);
}

.Work-projectsTriggerIcon {
  display: inline-block;
  margin-left: calc(var(--spacing-0) );
  position: relative;
  transform:
    translateY(-10%)
    rotate(-90deg);
  transform-origin: 50% 25%;
  transition: transform var(--transition-average);
}

.Work-projectsTrigger.is-active .Work-projectsTriggerIcon {
  transform:
    translateY(-10%)
    rotate(0);
}

.Work-projectsList {
  background-color: var(--color-neutral-100);
  border-radius: var(--border-radius);
  box-shadow:
    0 2px 6px rgba(0, 0, 0, 0.3),
    0 6px 18px rgba(0, 0, 0, 0.1),
    0 2px 6px 6px rgba(245, 245, 241, 0.3);
  display: block;
  left: var(--spacing-side-padding);
  opacity: 0;
  overflow: hidden;
  padding: calc(var(--spacing-1) / 2) 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  transform: scale(0.5);
  transform-origin: left top;
  transition:
    opacity var(--transition-fast),
    transform var(--transition-fast);
  width: 240px;
  z-index: 10;
}

.Work-projectsList.is-visible {
  pointer-events: auto;
}

.Work-projectsList.is-faded-in {
  opacity: 1;
  transform: scale(1);
}

.Work-projectsLink:link,
.Work-projectsLink:visited {
  border-bottom: 0;
  display: block;
  color: var(--color-neutral-400);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-2);
  padding: var(--spacing-1);
  touch-action: manipulation;
}

@media (min-width: 960px) {
  .Work-projectsLink:link,
  .Work-projectsLink:visited {
    padding: calc(var(--spacing-1) / 2) var(--spacing-1);
  }
}

.Work-projectsLink:hover {
  background-color: var(--color-neutral-200);
}

.Work strong {
  color: var(--color-neutral-900);
}

.Work-heading {
  color: var(--color-neutral-900);
  /* font-size: var(--font-size-7); */
  margin: 0;
  /* margin: 0 0 calc(-1 * var(--spacing-3)); */
  /* margin: var(--spacing-4) 0 var(--spacing-2); */
  /* TODO: remove the above? */
}

.Work-heading span,
.Work-heading strong {
  display: block;
  /* font-size: var(--font-size-8); */
}

.Work-heading .subheading {
  font-size: var(--font-size-3);
  font-weight: bold;
  line-height: 1.5;
}

.Work-heading em {
  color: var(--color-yellow-500);
  font-style: normal;
}

.Work-meta {
  color: var(--color-neutral-300);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-2);
  letter-spacing: var(--font-letter-spacing);
  padding-top: 0.5em;
  text-transform: uppercase;
}

.Work-meta dt {
  display: none;
}

.Work-meta dd {
  align-items: center;
  display: flex;
  margin: 0 0 var(--spacing-1) 0;
}

@media (min-width: 960px) {
  .Work-meta .Work-meta--liveSite {
    margin-top: var(--spacing-2);
  }
}

.Work-metaIcon {
  display: inline-block;
  height: var(--size-icon);
  margin-right: calc(var(--spacing-2) / 2);
  width: var(--size-icon);
}

/* Content rows */

.ContentRow {
  width: 100%;
  /* background-color: rgba(0, 255, 0, 0.1); */
  /* TODO: remove the above? */
}

.ContentRow-item {
  /* background-color: rgba(0, 0, 255, 0.1); */
  /* TODO: remove the above? */
}

.ContentRow-item--full {
  width: 100%;
}

@media (min-width: 1280px) {
  .ContentRow-item--full.u-1280-outset-sides {
    width: calc(100% + var(--spacing-side-padding) * 2);
  }
}

.ContentRow-item > *:first-child {
  margin-top: 0;
}

.ContentRow-item > *:last-child {
  margin-bottom: 0;
}

.ContentRow-item + .ContentRow-item {
  margin-top: var(--spacing-gap-center);
}

.ContentRow-itemImage {
  background-color: var(--color-neutral-700);
  display: block;
  transition: opacity var(--transition-slow);
  width: 100%;
}

.ContentRow-itemImage.is-notLoaded {
  opacity: 0.1;
}

.ContentRow-itemImage:not(.is-notLoaded) {
  height: auto;
}

/* WHY: If no JavaScript, this prevents the placeholder image from displaying alongside the <noscript> one */
.no-js .ContentRow-itemImage.is-notLoaded {
  display: none;
}

.ContentRow-item p {
  line-height: 1.5;
  margin: var(--spacing-1) 0;
  max-width: var(--max-width-text);
}

@media (min-width: 960px) {
  .ContentRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .ContentRow.is-center-aligned {
    align-items: center;
  }
  
  .ContentRow-item {
    flex: 2 1 67%;
  }

  .ContentRow-item + .ContentRow-item {
    flex: 1 1 33%;
    margin-left: var(--spacing-gap-center);
    margin-top: 0;
    /* max-width: 710px; */
  }

  .ContentRow.is-full-width .ContentRow-item + .ContentRow-item,
  .ContentRow-item--half + .ContentRow-item--half {
    margin-left: calc(var(--spacing-gap-center) / 2);
  }

  .ContentRow-item--half,
  .ContentRow-item--half + .ContentRow-item--half {
    flex: 1 1 50%;
  }
}

/* Side Note */
.SideNote {
  /* TODO: do I still need this? */
  font-size: var(--font-size-3);
}

.SideNote-heading {
  font-size: var(--font-size-2);
  letter-spacing: 0;
}

/* Footer */
.Footer {
  background-color: orange;
  margin: 0;
  padding: 100px;
}

.Footer * {
  margin: 0;
  padding: 0;
  /* TODO: above is temporary; to troubleshoot */
}