/* Variables */

:root {
  --spacing-0: 10px;
  --spacing-1: 15px;
  --spacing-2: 20px;
  --spacing-3: 30px;
  --spacing-4: 40px;
  --spacing-5: 50px;
  --spacing-gap-center: var(--spacing-2);
  --spacing-side-padding: var(--spacing-1);

  --border-radius: 4px;
  --size-icon: 24px;

  --color-neutral-50: #f5f5f1;
  --color-neutral-100: #ecebe8;
  --color-neutral-200: #E1DAD2;
  --color-neutral-300: #88837f;
  --color-neutral-400: #615b57;
  --color-neutral-700: #2e2e35;
  --color-neutral-800: #121215;
  --color-twitterBlue-500: #22B1F8;
  --color-yellow-500: #f8ac22;
  --color-yellow-700: #eb9019;

  --font-family-sans: "Concourse", system-ui, sans-serif;
  --font-family-serif: "Source Serif Pro", serif;

  /* URL: https://www.modularscale.com/?18&px&1.15 */
  --font-size-1: 12px;
  --font-size-2: 14px;
  --font-size-3: 16px;
  --font-size-4: 18px;
  --font-size-5: 21px;
  --font-size-6: 24px;
  --font-size-7: 27px;
  --font-size-8: 31px;
  --font-size-9: 36px;

  --font-letter-spacing: 0.04em;

  --filter-brightness-hover: brightness(1.2);
  --filter-brightness-active: brightness(0.8);

  --transition-slow: 1.0s;
  --transition-average: 0.5s;
  --transition-fast: 0.2s;
}

@media (min-width: 480px) {
  :root {
    --spacing-side-padding: var(--spacing-2);
  }
}

@media (min-width: 640px) {
  :root {
    --spacing-1: 20px;
    --spacing-2: 30px;
    --spacing-3: 40px;
    --spacing-4: 60px;
    --spacing-5: 80px;

    /* URL: https://www.modularscale.com/?20&px&1.2 */
    --font-size-1: 12px;
    --font-size-2: 14px;
    --font-size-3: 17px;
    --font-size-4: 20px;
    --font-size-5: 24px;
    --font-size-6: 29px;
    --font-size-7: 35px;
    --font-size-8: 41px;
    --font-size-9: 50px;
  }
}

@media (min-width: 960px) {
  :root {
    --spacing-1: 20px;
    --spacing-2: 35px;
    --spacing-3: 50px;
    --spacing-4: 75px;
    --spacing-5: 100px;
  }
}

@media (min-width: 1280px) {
  :root {
    --spacing-1: 20px;
    --spacing-2: 40px;
    --spacing-3: 60px;
    --spacing-4: 90px;
    --spacing-5: 120px;
  }
}

/* Globals & layout */

* {
  box-sizing: border-box;
}

html, body {
  background-color: var(--color-neutral-700);
  color: #3d3d4d;
  font-family: var(--font-family-serif);
  font-size: var(--font-size-4);
  line-height: 1;
}

main {
  background-color: var(--color-neutral-50);
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.1);
  margin: 0 auto;
  max-width: 2000px;
}

/* Utility classes */

.u-backgroundGrey,
.u-backgroundGray {
  background-color: var(--color-neutral-100);
}

.u-boldSpaced {
  letter-spacing: var(--font-letter-spacing);
  font-weight: bold;
  text-transform: uppercase;
}

.u-centeredBox {
  margin-left: auto;
  margin-right: auto;
}

.u-colorYellow {
  color: var(--color-yellow-500);
}

.u-sidePadding {
  padding-left: var(--spacing-side-padding);
  padding-right: var(--spacing-side-padding);
}

.u-unstyledList {
  padding: 0;
  list-style: none;
}

.u-noWrap {
  white-space: nowrap;
}

.u-widthMedium {
  max-width: 1400px;
}

.u-widthFull {
  /* TODO: is this class still needed? */
}

@media (max-width: 639px) {
  .u-hideUntil640 {
    display: none;
  }
}

@media (max-width: 959px) {
  .u-hideUntil960 {
    display: none;
  }
}

@media (min-width: 960px) {
  .u-960-offsetDownSmall {
    --offset: var(--spacing-3);
  
    margin-bottom: calc(-1 * var(--offset));
    margin-top: var(--offset);
  }
  
  .u-960-offsetDownLarge {
    --offset: var(--spacing-5);
    
    margin-bottom: calc(-1 * var(--offset));
    margin-top: var(--offset);
  }
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-sans);
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
}

h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
  font-size: 1.15em;
  font-weight: 700;
}

h1 {
  font-size: var(--font-size-8);
}

h2 {
  font-size: var(--font-size-7);
}

h3 {
  font-size: var(--font-size-6);
}

h4, h5, h6 {
  font-size: var(--font-size-5);
}

a:link,
a:visited {
  border-bottom: 1px solid currentColor;
  color: var(--color-yellow-700);
  text-decoration: none;
  transition:
    filter var(--transition-fast),
    opacity var(--transition-fast),
    transform var(--transition-fast);
}

a:hover {
  border-bottom-width: 2px;
  filter: var(--filter-brightness-hover);
}

a:active {
  filter: var(--filter-brightness-active);
}

p.is-lede {
  font-size: var(--font-size-5);
}

/* Navigation */

.Nav {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.Nav-inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: var(--spacing-2);
  padding-top: var(--spacing-2);
}

.Nav-heading {
  color: var(--color-neutral-200);
  font-family: var(--font-family-serif);
  font-size: var(--font-size-4);
  margin: 0;
  text-transform: none;
}

.Nav-dropdownLink {
  border-bottom: 0;
  color: var(--color-neutral-300);
  display: inline-block;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-2);
}

/* Page header */

.PageHeader {
  background-color: var(--color-neutral-800);
  border-bottom: 4px solid var(--color-yellow-500);
  color: var(--color-neutral-200);
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1;
  padding: calc(var(--spacing-2) * 3) 0 0;
}

@media (min-width: 960px) {
  .PageHeader {
    height: 90vh;
    min-height: 850px;
    max-height: 1000px;
    padding: calc(var(--spacing-4) * 3) 0 var(--spacing-5);
  }
}

.PageHeader a:link,
.PageHeader a:visited {
  color: var(--color-yellow-500)
}

.PageHeader strong {
  color: var(--color-neutral-50);
}

.PageHeader-heading {
  color: var(--color-yellow-500);
  /* font-size: var(--font-size-8);
  font-weight: 400; */
  /* line-height: 1.3; */
  margin: var(--spacing-4) auto 0;
  width: 100%;
}

.PageHeader-heading strong {
  display: block;
}

.PageHeader-description {
  max-width: 640px;
}

@media (min-width: 960px) {
  .PageHeader-description {
    max-width: none;
  }
}

.PageHeader-subheading {
  color: var(--color-neutral-300);
  font-size: var(--font-size-2);
  margin-bottom: var(--spacing-1);
  margin-top: var(--spacing-1);
}

.PageHeader-skillsList {
  line-height: 1.8;
}

.PageHeader-link {
  color: var(--color-yellow-500);
  line-height: 1;
  margin-left: calc(var(--size-icon) + var(--spacing-2) / 2);
  position: relative;
}

.PageHeader .PageHeader-link--twitter:link,
.PageHeader .PageHeader-link--twitter:visited {
  color: var(--color-twitterBlue-500);
}

.PageHeader-linkIcon {
  display: inline-block;
  height: var(--size-icon);
  margin-top: 1px;
  position: absolute;
  right: calc(100% + var(--spacing-2) / 2);
  top: 50%;
  transform: translateY(-50%);
  width: var(--size-icon);
}

/* Work wrapper */

.Work {}

.Work-stickyNav {
  margin-bottom: var(--spacing-2);
  margin-top: var(--spacing-2);
  pointer-events: none;
  position: -webkit-sticky;
  position: sticky;
  top: var(--spacing-1);
}

.Work-projectsLink:link,
.Work-projectsLink:visited {
  background-color: var(--color-neutral-100);
  border-bottom: 0;
  border-radius: var(--border-radius);
  color: var(--color-neutral-300);
  display: inline-block;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-2);
  opacity: 0.9;
  padding: var(--spacing-0) var(--spacing-1);
  pointer-events: auto;
}

.Work strong {
  color: var(--color-neutral-800);
}

.Work-heading {
  color: var(--color-neutral-800);
  font-size: var(--font-size-7);
  margin: 0 0 calc(-1 * var(--spacing-3));
  /* margin: var(--spacing-4) 0 var(--spacing-2); */
  /* TODO: remove the above? */
}

.Work-heading strong {
  display: block;
  font-size: var(--font-size-8);
}

.Work-heading em {
  color: var(--color-yellow-500);
  font-style: normal;
}

.Work-meta {
  color: var(--color-neutral-300);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-2);
  letter-spacing: var(--font-letter-spacing);
  padding-top: 0.5em;
  text-transform: uppercase;
}

.Work-meta dt {
  display: none;
}

.Work-meta dd {
  align-items: center;
  display: flex;
  margin: 0 0 var(--spacing-1) 0;
}

@media (min-width: 960px) {
  .Work-meta .Work-meta--liveSite {
    margin-top: var(--spacing-2);
  }
}

.Work-metaIcon {
  display: inline-block;
  height: var(--size-icon);
  margin-right: calc(var(--spacing-2) / 2);
  width: var(--size-icon);
}

/* Content rows */

.ContentRow {
  margin-bottom: var(--spacing-5);
  margin-top: var(--spacing-5);
  width: 100%;
  background-color: rgba(0, 255, 0, 0.1);
  /* TODO: remove the above? */
}

.ContentRow-item {
  background-color: rgba(0, 0, 255, 0.1);
  /* TODO: remove the above? */
}

.ContentRow-item > *:first-child {
  margin-top: 0;
}

.ContentRow-item > *:last-child {
  margin-bottom: 0;
}

.ContentRow-item + .ContentRow-item {
  margin-top: var(--spacing-gap-center);
}

.ContentRow-itemImage {
  display: block;
  transition: opacity var(--transition-slow);
  width: 100%;
}

.ContentRow-itemImage.is-notLoaded {
  opacity: 0.1;
}

.ContentRow-itemImage:not(.is-notLoaded) {
  height: auto;
}

/* WHY: If no JavaScript, this prevents the placeholder image from displaying alongside the <noscript> one */
.no-js .ContentRow-itemImage.is-notLoaded {
  display: none;
}

.ContentRow-item p {
  line-height: 1.5;
  margin: var(--spacing-1) 0;
}

@media (min-width: 960px) {
  .ContentRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .ContentRow-item {
    flex: 2 1 67%;
  }

  .ContentRow-item--halfWidth {
    flex: 0 1 calc(50% - var(--spacing-gap-center) / 2);
  }

  .ContentRow-item + .ContentRow-item {
    flex: 1 1 33%;
    margin-left: var(--spacing-gap-center);
    margin-top: 0;
    /* max-width: 710px; */
  }

  .ContentRow-item + .u-960-offsetDownSmall,
  .ContentRow-item + .u-960-offsetDownLarge {
    margin-top: auto;
  }
}

@media (min-width: 1280px) {
  .ContentRow-item {
    flex: 1 1 50%;
  }

  .ContentRow-item + .ContentRow-item {
    /* flex-basis: 50%; */
    /* TODO: remove the above? */
  }
}