/* Globals & layout */

* {
  box-sizing: border-box;
}

html,
body {
  background-color: #3d3d4d;
  color: #3d3d4d;
  font-family: serif;
  font-size: 20px;
  line-height: 1;
}

main {
  background-color: #f2f2f2;
  margin: 0 auto;
  max-width: 1600px;
}

/* Utility classes */

.centered-box {
  margin: 0 auto;
}

.width-medium {
  max-width: 1400px;
}

.width-full {
  /* TODO: is this class still needed? */
}

/* Page header */

.PageHeader {
  padding: 120px;
  background-color: darkgrey;
}

/* Media rows */

.MediaDual {
  display: flex;
}

.MediaDual-asset {
  flex-shrink: 1;
  flex-basis: calc(50% - 20px);
}

.MediaDual-asset img {
  display: block;
  width: 100%;
}

.MediaDual-asset--left {
  margin-right: 20px;
}

.MediaDual-asset--right {
  margin-left: 20px;
}