/* Variables */

:root {
  --spacing-1: 10px;
  --spacing-2: 15px;
  --spacing-3: 20px;
  --spacing-4: 30px;

  --color-neutral-50: #f5f5f1;
  --color-neutral-100: #E1DAD2;
  --color-neutral-200: #88837f;
  --color-neutral-700: #1c1c1c;
  --color-twitterBlue-500: #22B1F8;
  --color-yellow-500: #f8ac22;

  --font-family-sans: "Source Sans Pro", system-ui, sans-serif;
  --font-family-serif: "Source Serif Pro", serif;

  /* URL: https://www.modularscale.com/?18&px&1.2 */
  --font-size-1: 11px;
  --font-size-2: 13px;
  --font-size-3: 15px;
  --font-size-4: 18px;
  --font-size-5: 22px;
  --font-size-6: 26px;
  --font-size-7: 31px;
  --font-size-8: 37px;
  --font-size-9: 45px;
}

@media (min-width: 640px) {
  :root {
    --spacing-1: 20px;
    --spacing-2: 30px;
    --spacing-3: 40px;
    --spacing-4: 60px;

    /* URL: https://www.modularscale.com/?20&px&1.2 */
    --font-size-1: 12px;
    --font-size-2: 14px;
    --font-size-3: 17px;
    --font-size-4: 20px;
    --font-size-5: 24px;
    --font-size-6: 29px;
    --font-size-7: 35px;
    --font-size-8: 41px;
    --font-size-9: 50px;
  }
}

@media (min-width: 960px) {
  :root {
    --spacing-1: 20px;
    --spacing-2: 40px;
    --spacing-3: 60px;
    --spacing-4: 90px;
  }
}

/* Globals & layout */

* {
  box-sizing: border-box;
}

html, body {
  background-color: #3d3d4d;
  color: #3d3d4d;
  font-family: var(--font-family-serif);
  font-size: var(--font-size-4);
  line-height: 1;
}

main {
  background-color: var(--color-neutral-50);
  margin: 0 auto;
  max-width: 2000px;
}

/* Utility classes */

.u-boldSpaced {
  letter-spacing: 0.05em;
  font-weight: bold;
  text-transform: uppercase;
}

.u-centeredBox {
  margin-left: auto;
  margin-right: auto;
}

.u-colorYellow {
  color: var(--color-yellow-500);
}

.u-unstyledList {
  padding: 0;
  list-style: none;
}

.u-widthMedium {
  max-width: 1400px;
}

.u-widthFull {
  /* TODO: is this class still needed? */
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-sans);
  text-transform: uppercase;
}

p.is-lede {
  font-size: var(--font-size-5);
}

/* Navigation */

.Nav {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.Nav-heading {
  color: var(--color-neutral-50);
  font-family: var(--font-family-serif);
  font-size: var(--font-size-4);
  text-transform: none;
}

.Nav-dropdownLink {
  color: var(--color-neutral-200);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-2);
  text-decoration: none;
}

/* Page header */

.PageHeader {
  background-color: var(--color-neutral-700);
  color: var(--color-neutral-100);
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  min-height: 750px;
  max-height: 1000px;
  padding: var(--spacing-4);
}

.PageHeader-heading {
  color: var(--color-yellow-500);
  font-size: var(--font-size-8);
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: var(--spacing-4);
  margin-top: var(--spacing-4);
  width: 100%;
}

.PageHeader-heading strong {
  color: var(--color-neutral-50);
  display: block;
  font-size: var(--font-size-9);
  font-weight: 700;
  letter-spacing: 0.04em;
}

.PageHeader-subheading {
  color: var(--color-neutral-200);
  font-size: var(--font-size-2);
  margin-bottom: var(--spacing-1);
  margin-top: var(--spacing-1);
}

.PageHeader-skillsList {
  line-height: 1.8;
  padding-top: 0.3em;
}

.PageHeader-link--twitter {
  color: var(--color-twitterBlue-500);
}

/* Work wrapper */

.Work {}

.Work-heading {}

/* Content rows */

.ContentRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(0, 255, 0, 0.1);
}

.ContentRow-item {
  flex: 1 1 50%;
  background-color: rgba(0, 0, 255, 0.1);
}

.ContentRow-item + .ContentRow-item {
  margin-left: var(--spacing-1);
}

.ContentRow-item--halfWidth {
  flex: 0 1 calc(50% - var(--spacing-1) / 2);
}

.ContentRow-item img:not(.is-notWidthFull) {
  display: block;
  width: 100%;
}

.ContentRow-item p {
  line-height: 1.5;
}