.archive h2 {
  @include bold-spaced-type;

  margin: $gutter-large 0 $gutter-small;
  color: $light-grey;
  font-size: $type-smaller;
}

.archive ul {
  padding-left: 0;
}

.archive li {
  padding-left: 0;
  margin-bottom: $gutter-small;
  list-style: none;
}

.archive-link {
  @include flexbox;
  @include align-items(baseline);
  
  border-bottom: 0;
  color: $black;
}

.archive-post-title {
  @include transition(color $animation-time);

  flex: 1 1 auto;
  margin: 0;
  margin-right: $gutter-medium;
  font-size: $type-medium;

  a:hover & {
    color: $link-hover-color;
  }
}

.archive-post-meta {
  @include transition(color $animation-time);

  display: block;
  flex: 1 0 auto;
  margin: 0 0 $gutter-smallest;
  color: $light-grey;
  font-family: $sans-serif;
  font-size: $type-small;
  line-height: 1;
  text-align: right;

  a:hover & {
    color: $link-hover-color;
  }

  &:last-child {
    margin: 0;
  }
}