.archive-list {
  margin: 0;
  padding: 0;

  @media ($bp-s) {
    @include flexbox;
    @include flex-wrap(wrap);
    margin-right: -#{size(-1)};
  }
}

.archive-link {
  @include flexbox;
  @include flex-direction(column);
  border-bottom: 0;
  transition: transform $animation-time;

  &:hover {
    transform: translateY(-1%);
  }

  @media ($bp-s) {
    @include flex(0 1 calc(50% - #{size(-1)}));
    margin-right: size(-1);
  }

  @media ($bp-m) {
    @include flex(0 1 calc(33% - #{size(-1)}));
  }
}

.archive-list-item {
  @include soft-box-shadow;
  @include spacing-standard(xsmall);
  background-color: $white;
  display: block;
  flex: 1 0 0;
  list-style: none;
  margin-top: 0;
  padding: size(-1) size(-1) size(6);
  position: relative;
}

.archive-post-thumbnail {
  box-shadow: none;
  margin: -#{size(-1)};
  margin-bottom: size(-1);
}

.archive-post-title {
  font-size: size(0);
  margin: 0 0 size(-8);
  transition: color $animation-time;

  .archive-list-item:not(.has-thumbnail) & {
    font-size: size(2);
    line-height: $line-height-tight;
    width: 75%;
  }
}

.archive-post-dek {
  color: $color-ui-medium;
  font-size: size(-1);
  margin: 0;
  transition: color $animation-time;
}

.archive-post-date {
  @include bold-spaced-type;
  color: $color-ui-light;
  display: block;
  font-family: $sans-serif;
  font-size: size(-4);
  line-height: 1;
  margin-top: auto;
  position: absolute;
  bottom: size(-1);
  left: size(-1);
  transition: color $animation-time;
  white-space: nowrap;

  // Swaps the shorthand/abbreviated date for a full string
  @media ($bp-medium) {
    &:before {
      content: attr(data-full);
    }

    .shorthand {
      display: none;
    }
  }
}
