.archive h2 {
  @include bold-spaced-type;

  margin: $gutter-large 0 $gutter-small;
  color: color(grey, 200);
  font-size: $type-minus-two;
}

.archive ul {
  padding-left: 0;
}

.archive li {
  padding-left: 0;
  margin-bottom: $gutter-small;
  list-style: none;
}

.archive-link {
  @include flexbox;
  @include align-items(baseline);
  
  border-bottom: 0;
  color: $black;
}

.archive-post-title {
  @include transition(color $animation-time);
  @include flex(0 1 auto);

  margin: 0;
  margin-right: $gutter-small;
  font-size: $type-base;

  a:hover & {
    color: $link-hover-color;
  }

  @media ($bp-small) {
    font-size: $type-plus-one;
  }
}

.archive-post-date {
  @include transition(color $animation-time);
  @include flex(0 0 auto);

  display: block;
  margin: 0 0 $gutter-smallest $gutter-small;
  color: color(grey, 200);
  font-family: $sans-serif;
  font-size: $type-minus-one;
  line-height: 1;
  text-align: right;

  a:hover & {
    color: $link-hover-color;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media ($bp-small) {
    font-size: $type-base;
  }

  @media ($bp-medium) {
    &:before {
      content: attr(data-full);
    }
    
    .shorthand {
      display: none;
    }
  }
}

.archive-dots {
  @include flex(1 1 auto);

  border-bottom: 1px dotted color(grey, 200);
  opacity: 0.5;
}