.archive-work {
  @include spacing-standard(medium);
}

.archive-work-link {
  border-bottom: 0;
  display: block;
  position: relative;
  transition:
    opacity $animation-time,
    transform $animation-time;
  transform: translateZ(0);

  & > * {
    position: relative;
    z-index: 1;
  }

  &::after {
    background-color: $color-interactive-hover;
    border-radius: $border-radius;
    bottom: -#{size(0)};
    content: '';
    display: block;
    left: -#{size(0)};
    opacity: 0;
    position: absolute;
    right: -#{size(0)};
    top: -#{size(0)};
    transition: opacity $animation-time;
    z-index: 0;
  }

  &:hover::after {
    opacity: 0.1;
  }

  &:active {
    @include transform(scale(0.96) translateZ(0));
    opacity: $amount-fade;
  }
}

.archive-work-image {
  @include spacing-standard(xsmall);
}



.archive-work-title {
  margin: size(-6) 0;
}

.archive-work-role {
  @include bold-spaced-type;
  color: $color-ui-light;
  display: block;
  font-size: size(-2);
}
