.archive-list {
  margin: 0;
  padding: 0;

  @media ($bp-s) {
    @include flexbox;
    @include flex-wrap(wrap);
  }
}

.archive-list-item {
  @include flexbox;
  @include flex-direction(column);
  @include soft-box-shadow;
  @include spacing-standard(xsmall);
  background-color: $white;
  list-style: none;
  margin-top: 0;
  padding: size(-1);

  @media ($bp-s) {
    @include flex(0 1 calc((100% - #{size(-1)}) / 2));
    margin-right: size(-1);

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @media ($bp-m) {
    @include flex(0 1 calc((100% - (2 * #{size(-1)})) / 3));

    &:nth-child(2n) {
      margin-right: auto;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.archive-link {
  @include flex(1 0 100%);
  border-bottom: 0;
  display: block;
  position: relative;

  &:hover .archive-post-title,
  &:hover .archive-post-date {
    color: $color-interactive-hover;
  }
}

.archive-post-thumbnail {
  box-shadow: none;
  margin: -#{size(-1)};
  margin-bottom: size(-1);
}

.archive-post-title {
  font-size: size(0);
  margin: 0 0 size(-8);
  transition: color $animation-time;

  .archive-list-item:not(.has-thumbnail) & {
    font-size: size(2);
    line-height: $line-height-tight;
    width: 75%;
  }
}

.archive-post-dek {
  color: $color-ui-medium;
  font-size: size(-1);
  margin: 0 0 size(3);
}

.archive-post-date {
  @include bold-spaced-type;
  color: $color-ui-light;
  display: block;
  font-family: $sans-serif;
  font-size: size(-4);
  line-height: 1;
  margin-top: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: color $animation-time;
  white-space: nowrap;

  // Swaps the shorthand/abbreviated date for a full string
  @media ($bp-medium) {
    &:before {
      content: attr(data-full);
    }

    .shorthand {
      display: none;
    }
  }
}
