$spacing-between-columns: size(-1);
$spacing-between-rows: size(3);

.archive {
  @include flexbox;
  @include flex-wrap(wrap);
  margin: 0 -#{$spacing-between-columns} 0 0;
  padding: 0;
}

.archive-link {
  border-bottom: 0;
  display: block;
  margin: 0 $spacing-between-columns $spacing-between-columns 0;
  position: relative;
  transition:
    opacity $animation-time,
    transform $animation-time;
  transform: translateZ(0);

  & > * {
    position: relative;
    z-index: 1;
  }

  &:hover {
    transform: translateY(-1%);
  }

  &:active {
    @include transform(scale(0.96) translateZ(0));
    opacity: $amount-fade;
  }

  @media ($bp-m) {
    @include flex(0 1 calc(50% - #{$spacing-between-columns}));
  }
}

.archive-item-image {
  @include spacing-standard(none);

  img {
    display: block;
    width: 100%;
  }
}



.archive-work-title {
  margin: size(-6) 0;
}

.archive-work-role {
  @include bold-spaced-type;
  color: $color-ui-light;
  display: block;
  font-family: $sans-serif;
  font-size: size(-4);
  line-height: 1;
  margin-top: auto;
}
