// Layout styles

body {
  // Prevents webkit faux-bolding in Safari
  @include transform(translateZ(0));
  
  font-family: $sans-serif;
  font-size: $type-size-base;
}

.torso {
  margin: 0 auto;
  max-width: $content-max-width;
}

.section {
  padding: $gutter-small;
  
  @mq($bp-medium) {
    padding: $gutter-large;
  }
}

// Typography

a {
  color: $link-color;

  &:hover {
    color: $link-hover;
    text-decoration: none;
  }
  
  &:active {
    color: $link-color;
  }
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p {
  margin-top: 0;  
}

button,
.button {
  @include border-radius(6px);
  
  display: inline-block;
  padding: ($gutter-large/2) $gutter-large ($gutter-large/2 - 1px);
  background-color: $bright-blue;
  color: $white;
  font-size: $type-size-small;
  font-weight: 800;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  
  -webkit-appearance: none;
          appearance: none;
          
  &:hover {
    background-color: darken($bright-blue, 8%);
    color: $white;
  }
}