// Box sizing
* {
	@include box-sizing(border-box);
}


// Layout styles
html, body {
  font-size: $type-base-size;
}

body {
  background-color: $background-color;
  overflow-x: hidden;
  color: $dark-grey;
  font-family: $serif;
  font-size: $type-base;
  line-height: $line-height;

  @media ($bp-small) {
    font-size: $type-plus-one;
  }
}

.container {
  margin: 0 auto;
  padding: $gutter-small $gutter-smaller;

  @media ($bp-smaller) {
    padding: $gutter-small;
  }

  @media ($bp-small) {
    padding: $gutter-medium;
  }

  @media ($bp-medium) {
    padding: $gutter-large;
  }

  @media ($bp-large) {
    padding: $gutter-larger;
  }
}


// Typography
blockquote {
  margin: 0 0 $gutter-medium;
  padding-left: $gutter-smaller;
  border-left: ($gutter-smallest / 2) solid $off-white;
  color: $medium-grey;
  font-size: $type-base;

  @media ($bp-small) {
    margin-left: $gutter-small;
  }
}

code {
  @include border-radius;

  padding: $gutter-smallest;
  background-color: $off-white;
  font-size: $type-minus-one;

  pre & {
    padding: 0;
  }

  @media ($bp-small) {
    font-size: $type-base;
  }
}

%h1, %h2, %h3,
%h4, %h5, %h6 {
  color: $black;
  font-family: $sans-serif;
  font-weight: 700;
  line-height: 1.2;
}

@mixin h1 {
  margin: $gutter-larger 0 $gutter-medium;
  font-size: $type-plus-two;

  @media ($bp-small) {
    font-size: $type-plus-three;
  }
}

@mixin h2 {
  margin: $gutter-large 0 $gutter-medium;
  font-size: $type-plus-one;

  @media ($bp-small) {
    font-size: $type-plus-two;
  }
}

@mixin h3 {
  margin: $gutter-medium 0 $gutter-small;
  font-size: $type-base;

  @media ($bp-small) {
    font-size: $type-plus-one;
  }
}

@mixin h4 {
  @include bold-spaced-type;

  margin: $gutter-medium 0 $gutter-smallest;
  font-size: $type-minus-two;

  @media ($bp-small) {
    margin: $gutter-large 0 $gutter-smaller;
    font-size: $type-minus-one;
  }
}

%h1 { @include h1; }
%h2 { @include h2; }
%h3 { @include h3; }
%h4, %h5, %h6 { @include h4; }

h1, .h1 { @extend %h1; }
h2, .h2 { @extend %h2; }
h3, .h3 { @extend %h3; }
h4, .h4 { @extend %h4; }
h5, .h5 { @extend %h5; }
h6, .h6 { @extend %h6; }

p {
  margin: 0 0 $gutter-small;
  
  @media ($bp-small) {
    margin-bottom: $gutter-medium;
  }
}

.pull-quote {
  margin: 0 (-$gutter-smaller) $gutter-medium;
  padding: $gutter-medium;
  background-color: $off-white;
  font-family: $sans-serif;
  font-size: $type-plus-one;

  p {
    margin-bottom: 0;
  }

  .pull-quote-source {
    margin-top: $gutter-smaller;
    color: $light-grey;
    font-size: $type-minus-two;
    text-transform: uppercase;
  }

  @media ($bp-small) {
    margin-left: 0;
    margin-right: 0;
  }
}


// Links & buttons
a {
  @include transition(color $animation-time, border-color $animation-time);

  border-bottom: 2px solid rgba($link-color, 0.2);
  color: $link-color;
  text-decoration: none;

  &:hover {
    border-color: rgba($link-hover-color, 0.4);
    color: $link-hover-color;
    text-decoration: none;
  }

  &:active {
    color: $link-color;
  }
}

  @mixin inverted-link-color {  
    border-color: rgba($inverted-link-color, 0.2);
    color: $inverted-link-color;
  
    &:hover {
      border-color: rgba($inverted-link-hover-color, 0.4);
      color: $inverted-link-hover-color;
    }
  
    &:active {
      color: $inverted-link-color;
    }
  }

.action-link {
  position: relative;
  
  &:after {
    @include transform(translateY(-50%));

    content: "→";
    display: inline-block;
    padding-left: $gutter-smallest;
    position: absolute;
    left: 100%;
    top: 50%;
  }
}

button,
.button,
input[type="button"] {
  @include border-radius($border-radius);
  @include transition(background-color $animation-time/2, box-shadow $animation-time/2);

  display: block;
  margin-bottom: $gutter-medium;
  padding: ($gutter-medium/2) $gutter-medium;
  background-color: $link-color;
  border: 0;
  color: $white;
  font-family: $sans-serif;
  font-size: $type-minus-two;
  font-weight: 700;
  letter-spacing: $letter-spacing;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  -webkit-appearance: none;
          appearance: none;

  &.is-hover,
  &:hover {
    background-color: $link-hover-color;
    color: $white;
  }

  &.is-active,
  &:active {
    background-color: $link-active-color;
    color: $white;
  }

  &.is-disabled, &.is-disabled:hover, &.is-disabled:active,
  &:disabled, &:disabled:hover, &:disabled:active {
    background-color: $off-white;
    border: 1px solid transparentize($light-grey, 0.5);
    color: $light-grey;
  }

  @media ($bp-small) {
    display: inline-block;
  }
}

.button-secondary,
input[type="button"].button-secondary {
  background-color: transparentize($link-color, 0.9);
  border: 1px solid $link-color;
  color: $link-color;

  &.is-hover,
  &:hover {
    background-color: transparentize($link-hover-color, 0.9);
    border-color: $link-hover-color;
    color: $link-hover-color;
  }

  &.is-active,
  &:active {
    background-color: transparentize($link-active-color, 0.9);
    border-color: $link-active-color;
    color: $link-active-color;
  }
}


// Lists
ul,
ol {
  margin: 0 0 $gutter-small;
  padding-left: $gutter-medium;

  ul,
  ol {
    margin-bottom: 0;
    margin-top: $gutter-smallest;
  }

  @media ($bp-small) {
    margin-bottom: $gutter-medium;
  }
}

  ul { list-style: disc; }
  ol ul,
  ul ul { list-style: circle; }

  ol { list-style: decimal; }
  ol ol,
  ul ol { list-style: lower-roman; }

li {
  margin-bottom: $gutter-smallest;
  padding-left: $gutter-smallest / 2;

  &:before {
    color: $light-grey;
  }
}

dl {
  margin: 0 0 $gutter-small;

  @media ($bp-small) {
    margin-bottom: $gutter-medium;
  }
}

dt {
  @extend %h5;
  
  margin-top: $gutter-small;
  
  @media ($bp-small) {
    margin-top: $gutter-medium;
  }
}

dd {
  margin: 0;
  padding-left: $gutter-small;
}


// Basic components
hr {
  margin: 0 0 $gutter-medium;
  border: 0;
  border-bottom: 1px solid $light-grey;

  @media ($bp-small) {
    margin-bottom: $gutter-large;
  }
}

pre {
  margin: 0 (-$gutter-smaller) $gutter-medium;
  padding: $gutter-small;
  width: auto;
  background-color: $off-white;

  @media ($bp-small) {
    margin: 0 0 $gutter-large;
  }
}

table {
  margin: 0 0 $gutter-medium;
  width: 100%;
  border: 1px solid $light-grey;
  font: $type-minus-one/1 $sans-serif;
  
  td,
  th {
    padding: $gutter-smallest;
  }

  th {
    text-align: left;
  }

  tr:nth-child(2n) {
    background-color: transparentize($off-white, 0.5);
  }

  thead {
    background-color: $off-white;
    border-bottom: 1px solid $light-grey;
    font-size: $type-minus-three;
    font-weight: 700;
    letter-spacing: $letter-spacing;
    text-transform: uppercase;

    @media ($bp-small) {
      font-size: $type-minus-two;
    }
  }

  tfoot {
    border-top: 1px dashed $light-grey;
    font-weight: 700;
  }

  @media ($bp-small) {
    margin-bottom: $gutter-large;
    font-size: $type-base;
  }
}


// Display none
.display-none {
  display: none;
}


// -- Clearfix
.clearfix, .cf {
  zoom: 1;
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; }
}


// -- Image Replacement
.image-replacement, .hide-text, .ir {
	text-indent: -9999px;
}


// -- No-break (to new lines)
.no-wrap {
  white-space: nowrap;
}