// Box sizing

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

// Layout styles

body {
  @include transform(translateY(-$nav-height-mobile));
  @include transition-with-prefixes(transform $animation-time);
  
  position: relative;
  background-color: $off-white;
  font-family: $sans-serif;
  font-size: $type-base;

  &.is-nav-opened {
    @include transform(translateY(0));
  }
}

.torso {
  margin: 0 auto;
  max-width: $content-max-width;
}

.section {
  padding: $gutter-small;
  
  @mq($bp-medium) {
    padding: $gutter-large;
  }
}

// Typography

a {
  color: $link-color;

  &:hover {
    color: $link-hover;
    text-decoration: none;
  }
  
  &:active {
    color: $link-color;
  }
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p {
  margin-top: 0;  
}

button,
.button {
  @include border-radius(6px);
  
  display: inline-block;
  padding: ($gutter-large/2) $gutter-large ($gutter-large/2 - 1px);
  background-color: $bright-blue;
  color: $white;
  font-size: $type-small;
  font-weight: 800;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  
  -webkit-appearance: none;
          appearance: none;
          
  &:hover {
    background-color: darken($bright-blue, 8%);
    color: $white;
  }
}

// Clearfix
.clearfix, .cf {
  zoom: 1;
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; }
}

// Hide
.display-none {
  display: none;
}

// Image Replacement
.image-replacement, .hide-text, .ir {
	text-indent: -9999px;
}

// Use the best ampersand: http://simplebits.com/notebook/2008/08/14/ampersands-2/
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic;
}

// No-break (to new lines)
.no-break {
  white-space: nowrap;
}

// Hide/show content based on viewport
.show-small-up,
.show-medium-up,
.show-large-up {
  display: none;
}

@include mq($bp-small) {
  .show-small-up {
    display: inline;
  }

  .show-small-up.inline-block {
    display: inline-block;
  }

  .show-small-up.block {
    display: block;
  }
}

@include mq($bp-medium) {
  .show-medium-up {
    display: inline;
  }

  .show-medium-up.inline-block {
    display: inline-block;
  }

  .show-medium-up.block {
    display: block;
  }
}

@include mq($bp-large) {
  .show-large-up {
    display: inline;
  }

  .show-large-up.inline-block {
    display: inline-block;
  }

  .show-large-up.block {
    display: block;
  }
}