#wrapper {
  background-color: $white;

  @include transition(
    transform $animation-time-long
  );

  .js-nav-open--left & {
    @include transform(translateX($nav-drawer-width));
  }
}

.container {
  margin: 0 auto;
  padding: size(0) size(-2);

  @media ($bp-xs) {
    padding: size(0);
  }

  @media ($bp-s) {
    padding: size(2);
  }

  @media ($bp-m) {
    padding: size(4);
  }

  @media ($bp-l) {
    padding: size(6);
  }
}

.torso,
.torso-wide,
.torso-narrow {
  margin: 0 auto;
}

  .torso,
  .torso-wide {
    max-width: $max-width-wide;
  }

  .torso-narrow {
    max-width: $max-width-narrow;
  }

.page {
  padding-top: size(0);

  @media ($bp-s) {
    padding-top: size(2);
  }

  @media ($bp-m) {
    padding-top: size(4);
  }
}
