.torso,
.torso-wide,
.torso-narrow {
  margin: 0 auto;
}

  .torso,
  .torso-wide {
    max-width: $max-width-wide;
  }

  .torso-narrow {
    max-width: $max-width-narrow;
  }

.page-title {
  margin-top: $gutter-small;
  
  @media ($bp-small) {
    margin-top: 0;
  }
}