#wrapper {
  @include box-shadow(
    -1px 0 4px rgba($color-ui-medium, 0.2),
    -10px 0 40px rgba($color-ui-medium, 0.2)
  );
  @include transition(transform $animation-time-long $easing-out-quint);
  background-color: $color-background;
  min-height: 100vh;
  position: relative;
  z-index: 1;

  .js-nav-open--left & {
    @include transform(translateX($nav-width-drawer));
  }

  @media ($bp-when-drawer-expands) {
    @include box-shadow(none);
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .js-nav-open--left & {
      @include transform(none);
      @include transition(all 0s);
    }
  }
}

#content {
  @media ($bp-when-drawer-expands) {
    @include box-shadow(
      0 0 5px rgba($color-ui-medium, 0.2),
      0 0 50px rgba($color-ui-medium, 0.2)
    );
    background-color: $color-background;
    flex: 1 0 0;
    max-width: $max-width-content;
  }
}

.container {
  margin: 0 auto;
  padding: size(0) size(-2);

  @media ($bp-xs) {
    padding: size(0);
  }

  @media ($bp-s) {
    padding: size(2);
  }

  @media ($bp-m) {
    padding: size(4);
  }

  @media ($bp-l) {
    padding: size(6);
  }
}

// .torso,
// .torso-wide,
// .torso-narrow {
//   margin: 0 auto;
// }
//
//   .torso,
//   .torso-wide {
//     max-width: $max-width-wide;
//   }
//
//   .torso-narrow {
//     max-width: $max-width-narrow;
//   }

// TO DO: maybe delete this?
// .content {
//   padding-top: size(0);
//
//   @media ($bp-s) {
//     padding-top: size(2);
//   }
//
//   @media ($bp-m) {
//     padding-top: size(4);
//   }
// }
