#footer {
  background-color: $color-ui-subtle;
  flex: 1 0 100%;
  font-family: $sans-serif;
  font-size: size(-1);

  p {
    @include spacing-standard(xsmall);
  }

  .copyright,
  .credits {
    display: block;
  }

  .copyright {
    font-size: size(0);
  }
}
