#footer {
  background-color: $off-white;
  font-family: $sans-serif;
  font-size: $type-small;

  p {
    margin: 0;
  }

  .credits {
    font-size: $type-smaller;

    @media ($bp-smaller) {
      font-size: $type-small;
    }
  }

  @media ($bp-smaller) {
    font-size: $type-medium;
  }
}