#footer {
  background-color: $color-ui-subtle;
  font-family: $sans-serif;
  font-size: $type-minus-one;

  p {
    margin: 0;
  }

  .credits {
    display: block;
    font-size: $type-minus-two;

    @media ($bp-small) {
      font-size: $type-minus-one;
    }
  }

  @media ($bp-small) {
    font-size: $type-base;
  }
}
