#header {
  @media ($bp-when-drawer-expands) {
    // flex: 0 1 $nav-width-sidebar;
    display: flex;
background-color: orange;
    align-items: baseline;
    justify-content: space-between;
  }
}

// The site title (Hawkeward.com) next to the hamburger icon
#toolbar {
  @include align-items(center);
  @include flexbox;
background-color: green;
  height: $toolbar-height;
  padding: 0;
  position: relative;

  a {
    border: 0;
    color: $color-ui-dark;

    &:hover {
      color: $color-interactive-hover;
    }
  }

  // When the mobile drawer nav moves to its permanent home on the left
  //   if needed
  @media ($bp-when-drawer-expands) {
    display: block;
    margin-left: 0;
    // height: auto;
    // margin: size(4) 0;
    // padding-left: size(0);
  }
}

.toolbar-title {
  @include order(2);
  @include transform(translateY(1px));
  display: block;
  line-height: 1;
  padding: size(-3) 0;

  h1 {
    color: inherit;
    font-size: size(0);
    font-weight: normal;
    margin: 0;

    @media ($bp-when-drawer-expands) {
      // @include bold-spaced-type;
      font-size: size(-1);
    }
  }
}

.nav-open-btn {
  @include align-items(center);
  @include flexbox;
  @include order(1);
  @include justify-content(center);
  @include nav-button-hover-state;
  border: 0;
  height: $toolbar-height;
  line-height: 0;
  position: relative;
  width: $toolbar-button-width;

  svg {
    fill: $color-interactive;
    height: 14px;
    transition: fill $animation-time;
    width: 18px;
  }

  &:hover svg {
    fill: $color-interactive-hover;
  }

  @media ($bp-when-drawer-expands) {
    display: none;
  }
}
