#header {
  // Eventually, this is for the homepage header only
  // background-color: $header-background-color;
}

#toolbar {
  @include flexbox;
  @include align-items(center);

  height: $toolbar-height--small;
  padding: 0 0 0 $toolbar-height--small;
  position: relative;

  @media ($bp-small) {
    height: $toolbar-height--medium;
    padding-left: $toolbar-height--medium;
  }

  @media ($bp-when-drawer-expands) {
    height: auto;
    padding-left: 0;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.toolbar-title {
  margin: 0;
  font-size: size(0);
  font-weight: normal;
}

.nav-open-btn {
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  @include transition(background-color $animation-time);

  height: $toolbar-height--small;
  width: $toolbar-height--small;
  position: absolute;
  left: 0;
  top: 0;
  border: 0;
  line-height: 0;

  svg {
    @include transition(fill $animation-time);

    height: 14px;
    width: 18px;
    fill: $link-color;
  }

  &:hover {
    background-color: rgba($white, 0.1);

    svg {
      fill: $link-hover-color;
    }
  }

  @media ($bp-small) {
    height: $toolbar-height--medium;
    width: $toolbar-height--medium;
  }

  @media ($bp-when-drawer-expands) {
    display: none;
  }
}
