#header {
  // Eventually, this is for the homepage header only
  // background-color: $header-background-color;
}

#toolbar {
  @include flexbox;
  @include align-items(center);

  height: $toolbar-height--small;
  position: relative;

  a {
    border: 0;
    color: color(grey, 800);

    &:hover {
      color: $link-hover-color;
    }
  }

  @media ($bp-small) {
    height: $toolbar-height--medium;
  }

  @media ($bp-when-drawer-expands) {
    height: $toolbar-height--large;
  }
}

.toolbar-title {
  @include transform(translateY(1px));

  color: inherit;
  margin: 0;
  font-size: size(0);
  font-weight: normal;

  @media ($bp-s) {
    @include transform(translateY(0));

    font-size: size(1);
  }
}

.nav-open-btn {
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  @include button-hover-state;
  @include transition(background-color $animation-time);

  height: $nav-button--small;
  margin-left: -#{size(-1)};
  width: $nav-button--small;
  position: relative;
  border: 0;
  line-height: 0;

  svg {
    @include transition(fill $animation-time);

    height: 14px;
    width: 18px;
    fill: $link-color;
  }

  &:hover {
    svg {
      fill: $link-hover-color;
    }
  }

  @media ($bp-small) {
    height: $nav-button--medium;
    margin-left: -#{size(0)};
    width: $nav-button--medium;
  }

  @media ($bp-when-drawer-expands) {
    display: none;
  }
}
