.header-wrapper {
  position: relative;
}

#header {
  @include flexbox;
  @include align-items(center);
  @include justify-content(flex-start);
  background-color: $color-background-header;
  box-shadow:
    0 rem(1px) rem(4px) rgba($color-ui-medium, 0.4),
    0 rem(4px) rem(16px) rgba($color-ui-medium, 0.2);
  overflow-x: auto;
  padding-bottom: size(-2);
  padding-top: size(-2);
  width: 100%;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  &::-webkit-scrollbar {
    display: none;
  }

  @media ($bp-when-drawer-expands) {
    @include justify-content(space-between);
  }
}

.header-title {
  @include bold-spaced-type;
  border-bottom: 0;
  color: $color-ui-dark;
  display: inline-block;
  line-height: 1;
  padding: size(-6) 0;

  h1 {
    color: inherit;
    font-size: size(-2);
    margin: 0;
  }
}

.header-right-shadow {
  background-image: linear-gradient(
    to left,
    rgba($color-ui-light, 0.4),
    rgba($color-ui-light, 0)
  );
  content: '';
  display: block;
  height: 100%;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 30%;

  @media ($bp-when-drawer-expands) {
    display: none;
  }
}
