$header-bottom-border-height: 4px;

#header {
  height: 2.4rem + rem($header-bottom-border-height);
  margin-bottom: $gutter-small;
  padding-top: $gutter-smaller;
  position: relative;
  background-color: $inverted-background-color;
  
  &:after {
    @include css-gradient-horizontal($bright-green, $bright-blue);

    clear: both;
    content: '';
    display: block;
    height: $header-bottom-border-height;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.hawkeward-logo,
.hawkeward-logo:visited {
  position: absolute;
  left: $gutter-smaller;
  top: $gutter-smaller;
  border-bottom: 0;
  color: $inverted-neutral-link-color;
  font-family: $sans-serif;
  font-size: $type-medium;
  line-height: 1;

  &:hover {
    color: $inverted-neutral-link-hover-color;
  }

/*
  .js-menu-open & {
    color: $neutral-link-color;

    &:hover {
      color: $neutral-link-hover-color;
    }
  }
*/

  @media ($bp-smaller) {
    font-size: $type-large;
  }
}

.nav {
  @include transform(translateX(100%));
  @include transition(all $animation-time * 2);
  @include css-gradient($bright-green, $bright-blue);

  height: 100vh;
  padding: $gutter-small $gutter-smaller;
  width: 12rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 200;
//   background-color: $bright-green;

  a {
    display: block;
    padding: $gutter-smaller 0;
    border-bottom: 0;
    color: $inverted-neutral-link-color;
    font-family: $sans-serif;
    font-size: $type-medium;
    line-height: 1;

    @media ($bp-smaller) {
      font-size: $type-small;
    }
  }

  a:hover {
    color: $neutral-link-hover-color;
  }

  .js-menu-open & {
    @include transform(translateX(0));
  }
}

main:after {
  @include transition(all 0s, opacity $animation-time);

  content: "";
  display: block;
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: $black;
  opacity: 0;

  .js-menu-open & {
    opacity: 0.8;
  }
}

/*
.nav-horizontal {
  a {
    display: inline-block;
  }

  a + a {
    margin-left: $gutter-smallest;
  }

  a.is-active {
    position: relative;

    &:after {
      content: "";
      display: block;
      height: 2px;
      width: 100%;
      bottom: $gutter-smallest / 3;
      left: 0;
      position: absolute;
      background-color: $link-color;
      opacity: 0.5;
    }
  }
}
*/