.home .content-text {
  padding-top: 0;
}

.home .content-title {
  display: none;
}

#HomepageIntro {
  @include spacing-standard(medium);

  @media ($bp-m) {
    @include spacing-standard(xlarge);
  }
}

.HomepageIntro-text {
  @include spacing-standard(none);
  max-width: $max-width-narrow;
  font-size: size(1);

  @media ($bp-s) {
    font-size: size(2);
  }

  @media ($bp-l) {
    font-size: size(3);
  }

  a {
    background-color: rgba(color(green, 500), 0.1);
    padding-left: $gutter-smallest / 2;
    padding-right: $gutter-smallest / 2;
    transition:
      color $animation-time,
      background-color $animation-time,
      border-color $animation-time;

    &:hover {
      background-color: rgba(color(green, 500), 0.8);
      color: $white;
    }
  }
}

.HomepageIntro-name {
  font-family: $sans-serif;
}

.HomepageIntro-link {
  $colors: (
    blizzard: #1590ce,
    heroes: #330099,
    esports: #cc0022,
    writing: #bba00c,
    work: #4ac32d,
    twitter: #1da1f2
   );

  @each $key, $color in $colors {
    &.#{$key} {
      background-color: rgba($color, 0.1);
      border-color: rgba($color, 0.2);
      color: mix($color, $black, 80%);

      &:hover {
        background-color: rgba($color, 0.8);
      }
    }
  }
}


// Archive rows
.HomepageArchive {
  @include container-full-width-child;
  @include container-padding-left-right;
  @include flex-wrap(nowrap);
  @include spacing-standard(xsmall);
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: size(0);

  // Fixes inertial scrolling
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  .archive-link {
    @include flex(1 0 70vw);
    margin-bottom: 0;

    // Adds a gap at the far-right of the scrollable row
    &:last-child {
      box-sizing: content-box;
      border-right: size(-1) solid transparent;
    }

    @media ($bp-s) {
      @include flex-basis(60vw);
    }

    @media ($bp-m) {
      @include flex-basis(40vw);
    }

    @media ($bp-l) {
      @include flex-basis(30vw);
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media ($bp-xl) {
    margin-left: 0;
    margin-right: -#{size(-1)};
    padding-left: 0;
    padding-right: 0;
    overflow: visible;

    .archive-link {
      @include flex(0 1 calc(25% - #{$spacing-between-columns}));
    }

    .archive-link:last-child {
      border-right: 0;
    }
  }
}

.HomepageArchive-heading {
  a {
    @include bold-spaced-type;
    font-size: size(-3);
    margin-left: size(0);
  }
}

.HomepageArchive-spacer {
  width: 100px;
}
