#HomepageIntro {
  border-bottom: 1px solid color(grey, 50);
}

.HomepageIntro-text {
  margin: $gutter-small 0;
  font-size: $type-plus-one;

  @media ($bp-small) {
    font-size: $type-plus-two;
  }

  a {
    background-color: rgba(color(green, 500), 0.1);
    padding-left: $gutter-smallest / 2;
    padding-right: $gutter-smallest / 2;
    transition:
      color $animation-time,
      background-color $animation-time,
      border-color $animation-time;

    &:hover {
      background-color: rgba(color(green, 500), 0.8);
      color: $white;
    }
  }
}

.HomepageIntro-name {
  font-family: $sans-serif;
}

.HomepageIntro-link {
  $colors: (
    blizzard: #1590ce,
    heroes: #330099,
    esports: #cc0022,
    writing: #bba00c,
    work: #4ac32d,
    twitter: #1da1f2
   );

  @each $key, $color in $colors {
    &.#{$key} {
      background-color: rgba($color, 0.1);
      border-color: rgba($color, 0.2);
      color: mix($color, $black, 80%);

      &:hover {
        background-color: rgba($color, 0.8);
      }
    }
  }
}


// Archive rows
.HomepageArchive {
  @include flex-wrap(nowrap);

  .archive-link {
    @include flex(1 0 70vw);
  }
}
