.homepage-torso {
  margin-left: auto;
  margin-right: auto;
  max-width: $max-width-wide;
}

#homepage-intro {
  border-bottom: 1px solid color(grey, 50);
}

.homepage-intro-text {
  margin: $gutter-small 0;
  max-width: $max-width-narrow;
  font-size: $type-plus-one;

  @media ($bp-small) {
//     margin: 0;
    font-size: $type-plus-two;
  }

  a {
    @include transition(
      color $animation-time,
      background-color $animation-time,
      border-color $animation-time
    );

    padding-left: $gutter-smallest / 2;
    padding-right: $gutter-smallest / 2;
    background-color: rgba(color(green, 500), 0.1);

    &:hover {
      background-color: rgba(color(green, 500), 0.8);
      color: $white;
    }
  }
}

.homepage-intro-name {
  font-family: $sans-serif;
}

.homepage-intro-link {
  $colors: (
    blizzard: #1590ce,
    heroes: #330099,
    esports: #cc0022,
    writing: #bba00c,
    work: #4ac32d,
    twitter: #1da1f2
   );

  @each $key, $color in $colors {
    &.#{$key} {
      background-color: rgba($color, 0.1);
      border-color: rgba($color, 0.2);
      color: mix($color, $black, 80%);

      &:hover {
        background-color: rgba($color, 0.8);
      }
    }
  }
}

#homepage-writing {
  .section-title {
    @include h3;

    margin-top: $gutter-small;
  }
}

#homepage-posts {
  @include flexbox;
  @include flex-wrap(wrap);

  list-style: none;
  margin: 0 #{-$gutter-small};
  padding: 0;
}

.homepage-post {
  @include flex(1 0 100%);
  @include flexbox;

  margin: 0;
  padding: 0;

  @media ($bp-small) {
    @include flex-basis(50%);
  }

  a {
    @include transition(background-color $animation-time);

    padding: $gutter-small;
    width: 100%;
    border-bottom: 0;
    color: inherit;

    &:hover {
      background-color: rgba(color(grey, 50), 0.5);
    }

    @media ($bp-small) {
      padding: $gutter-small $gutter-small $gutter-large;
    }
  }

  .homepage-post-date {
    color: color(green, 500);
    font-family: $sans-serif;
    font-size: $type-minus-one;
    font-weight: 400;
    white-space: nowrap;

    @media ($bp-small) {
      font-size: $type-base;
    }
  }

  .homepage-post-title {
    @include h2;

    margin: 0 0 $gutter-smallest;

    @media ($bp-small) {
      margin-bottom: $gutter-smaller;
    }
  }

  .homepage-post-dek {
    margin-bottom: 0;
  }
}

.homepage-all-link {
  margin-top: $gutter-small;

  @media ($bp-small) {
    margin-top: $gutter-medium;
  }
}
