.photo {
  margin: 0 (-$gutter-smaller) $gutter-medium;
  width: calc(100% + #{$gutter-smaller * 2});
  
  img {
    display: block;
    width: 100%;
  }
  
  @media ($bp-smaller) {
    margin-left: 0;
    margin-right: 0;
    width: 100%;

    img {
      @include border-radius;
    }
  }

  @media ($bp-small) {
    margin-bottom: $gutter-large;

    &.photo-small,
    &.photo-medium {
      margin-left: auto;
      margin-right: auto;
    }

    &.photo-small {
      width: 50%;
    }

    &.photo-medium {
      width: 66.66666667%;
    }
  }
}

.photo .caption {
  margin: $gutter-smaller $gutter-smaller 0;
  color: $light-grey;
  font-family: $sans-serif;
  font-size: $type-small;

  @media ($bp-smaller) {
    margin-left: 0;
    margin-right: 0;
  }
  
  @media ($bp-small) {
    margin-top: $gutter-small;
    font-size: $type-medium;
  }

  @media ($bp-large) {
    width: 66.66666667%;
  }
}