.photo {
  margin: 0 (-$gutter-smaller) $gutter-medium;
  width: calc(100% + #{$gutter-smaller * 2});
  
  img {
    display: block;
    width: 100%;
  }
  
  @media ($bp-smaller) {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  @media ($bp-small) {
    margin-bottom: $gutter-large;
  }
}

.photo .caption {
  margin: $gutter-smaller $gutter-smaller 0;
  font-size: $type-small;

  @media ($bp-smaller) {
    margin-left: 0;
    margin-right: 0;
  }
  
  @media ($bp-small) {
    margin-top: $gutter-small;
    font-size: $type-medium;
  }

  @media ($bp-large) {
    width: 66.66666667%;
  }
}