/* ----------------------------- */
/* ----------[ INTRO ]---------- */
/* ----------------------------- */

#intro {
	border-top: 1px solid $border-color;
	font-size: 2.2em;
	line-height: 1.4;
	
	p {
		margin: 0;
	}
}

#intro-GoBackLink {
	display: block;
	color: $blue-black;
	font-size: .75em;
	line-height: 1;
	text-decoration: none;
	
	&:before {
		padding-right: 10px;
		color: $blue-light-grey;
		font-size: .67em;
	}
	
	&:hover {
		text-decoration: underline;
	}
}