// Global layout styles, setup
* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: $color-background;
}


// Content
#wrapper {

}

#content {
  margin-left: auto;
  margin-right: auto;
  max-width: $max-width-content;

  @media ($bp-when-drawer-expands) {
  }
}

.container {
  margin: 0 auto;
  padding: size(0) size(-3);

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  // .container-fullWidthChild "undoes" the padding from .container
  .container-fullWidthChild {
    @include container-full-width-child;
  }

  @media ($bp-xs) {
    padding: size(3) size(0);
  }

  @media ($bp-s) {
    padding: size(3);
  }

  @media ($bp-m) {
    padding: size(6);
  }
}
