#Nav {
  // white-space: nowrap;

  @media ($bp-when-drawer-expands) {

  }
}

.nav-links {
  @include flexbox;
  @include align-items(center);
  @include flex-wrap(nowrap);
  padding-left: (size(-3) - size(-6));
  position: relative;
  width: 100%;
}

.nav-link,
.nav-link:visited {
  @include bold-spaced-type;
  border-bottom: 0;
  border-radius: $border-radius;
  color: $color-interactive;
  display: inline-block;
  font-size: size(-3);
  line-height: 1;
  padding: size(-6);
  transition:
    background-color $animation-time,
    color $animation-time;

  & + & {
    margin-left: size(-10);
  }

  &:hover {
    background-color: rgba($color-interactive-hover, 0.05);
    color: $color-interactive-hover;

    svg {
      fill: $color-interactive-hover;
    }
  }

  &:active {
    color: $color-interactive-active;

    svg {
      fill: $color-interactive-active;
    }
  }

  @media ($bp-when-drawer-expands) {
    @include bold-spaced-type;
    color: $color-ui-dark;
    display: block;
    flex: 1;
    font-size: size(-3);

    &:hover {
      background-color: transparent;
    }
  }
}

.nav-link-icon {
  display: inline-block;
  fill: $color-icon-default;
  height: size(3);
  transition: fill $animation-time;
  width: size(3);

  svg {
    height: 100%;
    width: 100%;
  }
}

.nav-link-text {
  display: inline-block;
  transform: translateY(rem(1px));
}

.nav-link--twitter,
.nav-link--github {
  @include flexbox;
  padding-bottom: rem(2px);
  padding-top: rem(3px);
}

    .nav-link.nav-link--twitter {
      svg {
        fill: $color-brand-twitter;
      }
    }

    .nav-link.nav-link--github {
      svg {
        fill: $color-brand-github;
      }
    }

    @media ($bp-when-drawer-expands) {
      .nav-link--home {
        display: none;
      }

      .nav-link--about svg,
      .nav-link--work svg,
      .nav-link--writing svg {
        display: none;
      }

      .nav-link--twitter,
      .nav-link--github {
        svg {
          margin-right: 0;
        }

        .nav-link-text {
          display: none;
        }
      }
    }

.nav-link.is-current-page,
.nav-link.is-current-page:visited {
  background-color: rgba($color-interactive-hover, 0.1);
  color: $color-interactive;

  &:hover {
    color: $color-interactive-hover;
  }

  @media ($bp-when-drawer-expands) {

  }
}
