.nav {

}

.nav-link {
  @include transition(color $animation-time);

  color: color(grey, 800);
  display: inline-block;
  border-bottom: 0;
  font-family: $sans-serif;
  font-size: $type-base;
  line-height: 1;

  &.is-current-page {
    background-color: rgba($link-hover-color, 0.5);

    &:after {
      content: "←";
      padding-left: $gutter-smallest;
      opacity: 0.5;
    }
  }
}

.nav-close-btn {
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  @include transition(background-color $animation-time);

  height: $toolbar-height--small;
  width: $toolbar-height--small;
  position: absolute;
  left: 0;
  top: 0;
  border: 0;

  svg {
    @include transition(fill $animation-time);

    display: block;
    height: 18px;
    width: 18px;
    fill: $link-color;
  }

  &:hover {
    background-color: rgba(color(grey, 500), 0.15);

    svg {
      fill: $white;
    }
  }

  @media ($bp-small) {
    height: $toolbar-height--medium;
    width: $toolbar-height--medium;
  }

  @media ($bp-when-drawer-expands) {
    display: none;
  }
}
