#Nav {
  // white-space: nowrap;

  @media ($bp-when-drawer-expands) {

  }
}

.nav-links {
  @include flexbox;
  @include align-items(center);
  @include flex-wrap(nowrap);
  position: relative;
  width: 100%;
}

.nav-link,
.nav-link:visited {
  @include bold-spaced-type;
  border-bottom: 0;
  border-radius: $border-radius;
  color: $color-interactive;
  display: inline-block;
  font-size: size(-3);
  line-height: 1;
  margin-left: size(-10);
  padding: size(-6);
  transition:
    background-color $animation-time,
    color $animation-time;

  &:hover {
    background-color: rgba($color-interactive-hover, 0.05);
    color: $color-interactive-hover;

    svg {
      fill: $color-interactive-hover;
    }
  }

  &:active {
    color: $color-interactive-active;

    svg {
      fill: $color-interactive-active;
    }
  }

  @media ($bp-when-drawer-expands) {
    @include bold-spaced-type;
    color: $color-ui-dark;
    display: block;
    flex: 1;
    font-size: size(-3);

    &:hover {
      background-color: transparent;
    }
  }
}

.nav-link-icon {
  display: inline-block;
  height: size(3);
  transition: fill $animation-time;
  width: size(3);

  svg {
    fill: $color-interactive;
    height: 100%;
    width: 100%;
  }
}

.nav-link-text {
  display: inline-block;
  transform: translateY(rem(1px));
}

.nav-link--home,
.nav-link--twitter,
.nav-link--github {
  @include flexbox;
  @include align-items(center);
  height: rem(34px);
}

  .nav-link.nav-link--home {
    .nav-link-icon {
      height: size(0);
      transform: translateY(-1px);
      width: size(0);
    }
  }

    .nav-link.nav-link--twitter {
      svg {
        fill: $color-brand-twitter;
      }
    }

    .nav-link.nav-link--github {
      svg {
        fill: $color-brand-github;
      }
    }

    @media ($bp-when-drawer-expands) {

    }

.nav-link.is-current-page,
.nav-link.is-current-page:visited {
  background-color: rgba($color-interactive-hover, 0.1);
  color: $color-interactive;

  &:hover {
    color: $color-interactive-hover;
  }

  @media ($bp-when-drawer-expands) {

  }
}
