.nav {
  @include transition(
    width 0s $animation-time-long,
    height 0s $animation-time-long
  );

  height: 0;
  width: 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 200;
  overflow-y: auto;

  &:after {
    @include transition(
      opacity $animation-time-long,
      width 0s $animation-time-long,
      height 0s $animation-time-long
    );

    content: "";
    display: block;
    height: 0;
    width: 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 201;
    background-color: darken($bright-green, 50%);
    opacity: 0;
  }

  .js-nav-open--left & {
    @include transition(
      width 0s,
      height 0s
    );

    height: 100vh;
    width: 100vw;
    
    &:after {
      @include transition(
        opacity $animation-time-long,
        width 0s,
        height 0s
      );
  
      height: 100vh;
      width: 100vw;
      opacity: 1;
    }
  }
}

.nav-drawer {
  @include transform(translateX(-100%));
  @include transition(all $animation-time-long);
  @include css-gradient-horizontal(
    $bright-green,
    mix($bright-green, $bright-blue, 80%));

  padding: $gutter-larger 0 $gutter-small;
  width: 13rem;
  position: relative;
  z-index: 202;
  overflow-y: auto;

  .js-nav-open--left & {
    @include transform(translateX(0));
  }
}

.nav-close-btn {
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  @include transition(background-color $animation-time);

  height: $toolbar-height--small;
  width: $toolbar-height--small;
  position: absolute;
  left: 0;
  top: 0;
  border: 0;

  svg {
    @include transition(fill $animation-time);

    display: block;
    height: 18px;
    width: 18px;
    fill: $inverted-link-color;
  }

  &:hover {
    background-color: rgba($dark-grey, 0.15);

    svg {
      fill: $white;
    }
  }

  @media ($bp-smaller) {
    height: $toolbar-height--medium;
    width: $toolbar-height--medium;
  }
}

.nav-link,
.nav-link:visited {
  @include transition(background-color $animation-time);

  display: block;
  padding: ($gutter-smaller + rem(1px)) $gutter-smaller ($gutter-smaller - rem(1px));
  border-bottom: 0;
  color: $inverted-neutral-link-color;
  font-family: $sans-serif;
  font-size: $type-medium;
  line-height: 1;

  @media ($bp-smaller) {
    font-size: $type-small;
  }

  &:hover {
    background-color: $link-hover-color;
    color: $inverted-neutral-link-color;
  }
}

.timeline-item {
  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.timeline-item-meta {
  margin: 0 0 0;
  font-family: $sans-serif;
  font-size: $type-small;
}

.timeline-item-title {
  margin: 0 0 0;
  font-size: $type-medium;
}

.timeline-item-date {
  margin: 0 0 0;
  font-family: $sans-serif;
  font-size: $type-small;
}