.nav {
  a {
    display: block;
    padding: $gutter-smallest 0;
    border-bottom: 0;
    font-family: $sans-serif;
    font-size: $type-smaller;
    letter-spacing: $letter-spacing;
    line-height: 1;
    text-transform: uppercase;

    @media ($bp-smaller) {
      font-size: $type-small;
    }
  }
}

.nav-horizontal {
  a {
    display: inline-block;
  }

  a + a {
    margin-left: $gutter-smallest;
  }

  a.is-active {
    position: relative;

    &:after {
      content: "";
      display: block;
      height: 2px;
      width: 100%;
      bottom: $gutter-smallest / 3;
      left: 0;
      position: absolute;
      background-color: $link-color;
      opacity: 0.5;
    }
  }
}