.layout-post .content-text {
  max-width: $max-width-narrow;
}

.post-meta {
  @include meta;
}

.post-meta + .post-title {
  margin-top: 0;
}

// Pop images out of the torso column for visual interest
.layout-post .photo:not(.photo-small, .photo-medium),
.post-banner {
  @media ($bp-s) {
    margin-left: -#{size(3)};
    margin-right: -#{size(3)};
  }

  @media ($bp-m) {
    margin-left: -#{size(6)};
    margin-right: -#{size(6)};
  }
}

.post-content {
  // @media ($bp-s) {
  //   & > p {
  //     max-width: $max-width-narrow;
  //   }
  // }
}

.post-footer {
  border-top: $border-width solid $color-ui-subtle;
  font-family: $sans-serif;
  font-size: size(-1);

  & > *:first-child {
    margin-top: 0;
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  .hashtag {
    color: $color-ui-light;
  }
}

.footnotes {
  @include spacing-standard;
  font-size: size(-1);
  margin-bottom: 0;

  ol {
    margin: 0;
  }

  &:before {
    content: "Footnotes:";
    display: block;
    margin-bottom: size(-2);
    font-family: $sans-serif;
    font-weight: bold;
  }
}
