.post-meta {
  @include meta;

  margin-bottom: size(-4);

  @media ($bp-small) {
    margin-bottom: size(-3);
  }
}

.post-title + .post-meta {
  margin-top: -#{size(-1)};

  @media($bp-s) {
    margin-top: -#{size(0)};
  }
}

.lede {
  font-family: $sans-serif;
  font-size: $type-plus-one;

  @media ($bp-small) {
    font-size: $type-plus-two;
  }
}

.post-footer {
  padding-top: $gutter-small;
  border-top: 1px solid $light-grey;
  font-family: $sans-serif;
  font-size: $type-minus-one;

  & > *:last-child {
    margin-bottom: 0;
  }

  @media ($bp-small) {
    margin-top: $gutter-large;
    padding-top: $gutter-medium;
    font-size: $type-base;
  }

  @media ($bp-large) {
    margin-top: $gutter-larger;
  }

  .hashtag {
    color: $off-white;
  }
}

.footnotes {
  margin: $gutter-medium 0 $gutter-large;
  font-size: $type-minus-one;

  p {
    margin: 0;
  }

  &:before {
    content: "Footnotes:";
    display: block;
    margin-bottom: $gutter-smaller;
    font-family: $sans-serif;
    font-weight: bold;
  }

  @media ($bp-small) {
    margin: $gutter-large 0 $gutter-larger;
    font-size: $type-base;

    &:before {
      margin-bottom: $gutter-small;
    }
  }
}
