.post-meta {
  @include meta;
}

.post-meta + .post-title {
  margin-top: 0;
}

.post-content {
  @media ($bp-m) {
    & > p {
      margin-right: 20%;
    }
  }
}

.post-footer {
  border-top: $border-width solid $color-ui-subtle;
  font-family: $sans-serif;
  font-size: size(-1);

  & > *:first-child {
    margin-top: 0;
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  .hashtag {
    color: $color-ui-light;
  }
}

.footnotes {
  @include spacing-standard;
  font-size: size(-1);
  margin-bottom: 0;

  ol {
    margin: 0;
  }

  &:before {
    content: "Footnotes:";
    display: block;
    margin-bottom: size(-2);
    font-family: $sans-serif;
    font-weight: bold;
  }
}
