// Delete at some point; saving just in case
//
// .post-title {
//   font-size: $type-huge;
// 
//   @media ($bp-smaller) {
//     font-size: $type-huger;
//   }
// }

.post-meta {
  margin-bottom: $gutter-smallest;
  color: $light-grey;
  font-family: $sans-serif;
  font-size: $type-smaller;
  text-transform: uppercase;

  @media ($bp-small) {
    font-size: $type-small;
  }
}

.post-meta + .post-title {
  margin-top: 0;
}

.lede {
  font-family: $sans-serif;
  font-size: $type-large;

  @media ($bp-small) {
    font-size: $type-larger;
  }
}

.post-footer {
  padding-top: $gutter-small;
  border-top: 1px solid $light-grey;
  font-family: $sans-serif;
  font-size: $type-small;

  & > *:last-child {
    margin-bottom: 0;
  }

  @media ($bp-small) {
    margin-top: $gutter-large;
    padding-top: $gutter-medium;
    font-size: $type-medium;
  }

  @media ($bp-large) {
    margin-top: $gutter-larger;
  }
}

.footnotes {
  margin: $gutter-medium 0 $gutter-large;
  font-size: $type-small;
  
  p {
    margin: 0;
  }

  &:before {
    content: "Footnotes:";
    display: block;
    margin-bottom: $gutter-smaller;
    font-family: $sans-serif;
    font-weight: bold;
  }

  @media ($bp-small) {
    margin: $gutter-large 0 $gutter-larger;
    font-size: $type-medium;

    &:before {
      margin-bottom: $gutter-small;
    }
  }
}