// Style guide styles
.styleGuide-section {
  margin: size(4) 0;

  @media ($bp-s) {
    margin: size(6) 0;
  }
}

.styleGuide-section-header {
  @include h4;

  border-bottom: $border-width solid color(grey, 50);
  margin-bottom: size(0);
  padding: size(-4) 0;

  @media($bp-s) {
    margin-bottom: size(2);
  }

  & + h1,
  & + h2,
  & + h3,
  & + h4,
  & + h5,
  & + h6 {
    margin-top: 0;
  }
}


// Swatches
#swatches {
  @include flexbox();
  @include flex-wrap(wrap);
  @include justify-content(space-between);
}

.swatch-list {
  margin: 0 0 size(-4);
  padding: 0;
  width: calc((100% - #{size(-4)}) / 2);

  &:nth-child(n+2) {
    margin-bottom: 0;
  }

  @media ($bp-s) {
    margin: 0;
    width: calc((100% - 3 * #{size(-4)}) / 4);
  }
}

.swatch {
  margin: 0;
  padding: size(-2);
  list-style: none;
  color: $white;
  font-family: $sans-serif;
  font-size: size(-2);
  letter-spacing: 0.1em;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}


// Sample article styles
.sampleArticle-divider {
  margin: size(4) 0;

  @media ($bp-s) {
    margin: size(6) 0;
  }
}
