// Style guide styles
.styleGuide-section {
  margin: 4rem 0;
}

.styleGuide-section-header {
  @extend %h6;

  border-bottom: 1px solid currentColor;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  color: $off-white;
}

// Swatches
.swatch-list {
  margin: 0;
  padding: 0;
}

.swatch {
  float: left;
  margin: 0;
  padding: $gutter-small;
  width: calc((100% - #{$gutter-small}) / 2);
  list-style: none;
  color: $white;
  font-family: $sans-serif;
  font-size: $type-minus-one;
  letter-spacing: 0.1em;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;

  & + & {
    margin-left: $gutter-small;
  }

  &:nth-child(2n + 3) {
    margin-left: 0;
  }

  &.invert-label-color {
    color: $dark-grey;
  }

  @media ($bp-small) {
    width: calc((100% - #{2 * $gutter-small}) / 3);

    & + & {
      margin-left: $gutter-small;
    }

    &:nth-child(3n + 1) {
      margin-left: 0;
    }
  }

  @media ($bp-medium) {
    width: calc((100% - #{4 * $gutter-small}) / 5);

    & + & {
      margin-left: $gutter-small;
    }
  }
}


// Sample article styles
.sampleArticle-divider {
  margin: 4rem 0;
}
