// Style guide styles
.styleGuide-section {
  margin: size(4) 0;

  @media ($bp-small) {
    margin: size(6) 0;
  }

  @media ($bp-large) {
    margin: size(8) 0;
  }
}

.styleGuide-section-header {
  @extend %h6;

  border-bottom: 2px solid color(grey, 50);
  padding: size(-3) 0;
  margin-bottom: size(0);
  color: get-color(grey, 200);
}

// Swatches
#swatches {
  @include flexbox();
  @include flex-wrap(wrap);
  @include justify-content(space-between);
}

.swatch-list {
  margin: 0 0 size(0);
  padding: 0;
  width: calc((100% - #{size(-1)}) / 2);
}

.swatch {
  margin: 0;
  padding: size(-2);
  list-style: none;
  color: $white;
  font-family: $sans-serif;
  font-size: size(-2);
  letter-spacing: 0.1em;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;

  @media ($bp-small) {
    font-size: size(0);
  }

  @media ($bp-medium) {
    width: calc((100% - #{4 * $gutter-small}) / 5);

    & + & {
      margin-left: $gutter-small;
    }
  }
}


// Sample article styles
.sampleArticle-divider {
  margin: 4rem 0;
}
