// Raw colors
$black:                       #000;
$white:                       #fff;

$bright-red:                  #fb3640;
$bright-green:                #1a936f;
$bright-blue:                 adjust-hue($bright-green, 60deg);

$dark-grey:                   #18231d;
$medium-grey:                 #6d6c6b;
$off-white:                   #f2edef;

$light-grey:                  mix($medium-grey, $off-white, 50%);

// Theme colors
$text-color:                  $dark-grey;

$link-color:                  darken($bright-green, 5%);
$link-hover-color:            lighten($link-color, 10%);
$link-active-color:           darken($link-color, 10%);
$link-visited-color:          $bright-blue;
$link-visited-hover-color:    lighten($link-visited-color, 10%);
$neutral-link-color:          $dark-grey;
$neutral-link-hover-color:    lighten($neutral-link-color, 10%);
$inverted-link-color:         lighten($bright-green, 20%);
$inverted-link-hover-color:   lighten($inverted-link-color, 10%);
$inverted-neutral-link-color:
                              $white;
$inverted-neutral-link-hover-color:
                              darken($inverted-neutral-link-color, 10%);

$background-color:            $white;
$inverted-background-color:   $dark-grey;
$divider-color:               $medium-grey;
                    
$twitter-blue:                #55acee;
$facebook-blue:               #3b5998;
$instagram-blue:              #3f729b;


// Typography
$sans-serif:                  "Concourse", sans-serif;
$serif:                       "Equity", serif;

$type-base:                   20px;
$type-ratio:                  1.22474487139;
$letter-spacing:              0.1em;
$line-height:                 1.5;

$tier-minus-three:            1rem / power($type-ratio, 3);   // 10.89px
$tier-minus-two:              1rem / power($type-ratio, 2);   // 13.33px
$tier-minus-one:              1rem / power($type-ratio, 1);   // 16.33px
$tier-base:                   1rem;                           // 20.00px
$tier-plus-one:               1rem * power($type-ratio, 1);   // 24.50px
$tier-plus-two:               1rem * power($type-ratio, 2);   // 30.00px
$tier-plus-three:             1rem * power($type-ratio, 3);   // 36.74px
$tier-plus-four:              1rem * power($type-ratio, 4);   // 45.00px
$tier-plus-five:              1rem * power($type-ratio, 5);   // 55.11px
$tier-plus-six:               1rem * power($type-ratio, 6);   // 67.50px
$tier-plus-seven:             1rem * power($type-ratio, 7);   // 82.67px

$type-smallest:               $tier-minus-three;
$type-smaller:                $tier-minus-two;
$type-small:                  $tier-minus-one;
$type-medium:                 $tier-base;
$type-large:                  $tier-plus-one;
$type-larger:                 $tier-plus-two;
$type-largest:                $tier-plus-three;
$type-huge:                   $tier-plus-four;
$type-huger:                  $tier-plus-five;


// Animations
$animation-time-short:        0.1s;
$animation-time:              0.2s;
$animation-time-long:         0.4s;


// Gutters/Margins/Padding/Layout
$gutter-largest:              $tier-plus-six * 2;
$gutter-larger:               $tier-plus-six;
$gutter-large:                $tier-plus-four;
$gutter-medium:               $tier-plus-two;
$gutter-small:                $tier-base;
$gutter-smaller:              $tier-minus-one;
$gutter-smallest:             $tier-minus-three;


// Layout
$border-radius:               6px;
$toolbar-height--small:       2.5rem;
$toolbar-height--medium:      3rem;
$toolbar-height--large:       4rem;
$max-width-narrow:            1rem * power($type-ratio, 18);  //  768.87px
$max-width-wide:              1rem * power($type-ratio, 20);  // 1153.30px
$nav-drawer-width:            13rem;


// Breakpoints
$bp-smaller:                  'min-width: 30em';    //  480px
$bp-small:                    'min-width: 40em';    //  640px
$bp-medium:                   'min-width: 50em';    //  800px
$bp-large:                    'min-width: 60em';    //  960px
$bp-larger:                   'min-width: 70em';    // 1120px