// Theme colors
$text-color:                  color(grey, 800);
$text-color-faded:            color(grey, 400);

$link-color:                  color(blue, 600);
$link-hover-color:            lighten($link-color, 10%);
$link-active-color:           darken($link-color, 10%);

$button-color:                color(blue, 500);
$button-hover-color:          lighten($button-color, 5%);
$button-active-color:         darken($button-color, 5%);

$background-color:            $white;
$inverted-background-color:   color(grey, 800);
$divider-color:               color(grey, 500);

$twitter-blue:                #55acee;
$facebook-blue:               #3b5998;
$instagram-blue:              #3f729b;


// Typography
$sans-serif:                  "Concourse", sans-serif;
$serif:                       "Equity", serif;

$type-base-size:              20px;
$type-ratio:                  1.22474487139;
$letter-spacing:              0.1em;
$line-height:                 power($type-ratio, 2);
$line-height-tight:           $type-ratio;


// DELETE THIS LATER -->
$type-minus-three:            size(-3);
$type-minus-two:              size(-2);
$type-minus-one:              size(-1);
$type-base:                   size(0);
$type-plus-one:               size(1);
$type-plus-two:               size(2);
$type-plus-three:             size(3);
$type-plus-four:              size(4);
$type-plus-five:              size(5);
// <-- DELETE THIS LATER


// Animations
$animation-time-short:        0.1s;
$animation-time:              0.2s;
$animation-time-long:         0.4s;


// DELETE THIS LATER -->
// Gutters/Margins/Padding/Layout
$gutter-largest:              size(6) * 2;
$gutter-larger:               size(6);
$gutter-large:                size(4);
$gutter-medium:               size(2);
$gutter-small:                size(0);
$gutter-smaller:              size(-2);
$gutter-smallest:             size(-4);
// <-- DELETE THIS LATER


// Layout
$border-width:                2px;
$border-radius:               6px;
$toolbar-height--small:       2.5rem;
$toolbar-height--medium:      3rem;
$toolbar-height--large:       4rem;
$max-width-sidebar:           size(14);
$max-width-narrow:            size(18);
$max-width-wide:              size(20);
$nav-drawer-width:            14rem;


// Breakpoints
$bp-xs:                       'min-width: 30em';    //  480px
$bp-s:                        'min-width: 40em';    //  640px
$bp-m:                        'min-width: 50em';    //  800px
$bp-l:                        'min-width: 60em';    //  960px
$bp-xl:                       'min-width: 80em';    // 1280px
$bp-xxl:                      'min-width: 100em';    // 1600px

$bp-smaller:                  'min-width: 30em';    //  480px
$bp-small:                    'min-width: 40em';    //  640px
$bp-medium:                   'min-width: 50em';    //  800px
$bp-large:                    'min-width: 60em';    //  960px
$bp-larger:                   'min-width: 70em';    // 1120px

$bp-when-drawer-expands:      $bp-larger;
