@charset "UTF-8";

@font-face {
    font-family: 'Advocate';
    src: url('../webfonts/advocate/advocate_c43_regular-webfont.woff2') format('woff2'),
         url('../webfonts/advocate/advocate_c43_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Advocate';
    src: url('../webfonts/advocate/advocate_c43_bold-webfont.woff2') format('woff2'),
         url('../webfonts/advocate/advocate_c43_bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

//  @font-face {
//      font-family: 'Concourse';
//      src: url('../webfonts/concourse/concourse_t2_regular-webfont.woff2') format('woff2'),
//           url('../webfonts/concourse/concourse_t2_regular-webfont.woff') format('woff');
//      font-weight: 100;
//      font-style: normal;
//  }
//  
//  @font-face {
//      font-family: 'Concourse';
//      src: url('../webfonts/concourse/concourse_t2_italic-webfont.woff2') format('woff2'),
//           url('../webfonts/concourse/concourse_t2_italic-webfont.woff') format('woff');
//      font-weight: 100;
//      font-style: italic;
//  }

@font-face {
    font-family: 'Concourse';
    src: url('../webfonts/concourse/concourse_t3_regular-webfont.woff2') format('woff2'),
         url('../webfonts/concourse/concourse_t3_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Concourse';
    src: url('../webfonts/concourse/concourse_t3_italic-webfont.woff2') format('woff2'),
         url('../webfonts/concourse/concourse_t3_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Concourse';
    src: url('../webfonts/concourse/concourse_t3_bold-webfont.woff2') format('woff2'),
         url('../webfonts/concourse/concourse_t3_bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Concourse';
    src: url('../webfonts/concourse/concourse_t3_bold_italic-webfont.woff2') format('woff2'),
         url('../webfonts/concourse/concourse_t3_bold_italic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Equity';
    src: url('../webfonts/equity/equity_text_b_regular-webfont.woff2') format('woff2'),
         url('../webfonts/equity/equity_text_b_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Equity';
    src: url('../webfonts/equity/equity_text_b_italic-webfont.woff2') format('woff2'),
         url('../webfonts/equity/equity_text_b_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Equity';
    src: url('../webfonts/equity/equity_text_b_bold-webfont.woff2') format('woff2'),
         url('../webfonts/equity/equity_text_b_bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Equity';
    src: url('../webfonts/equity/equity_text_b_bold_italic-webfont.woff2') format('woff2'),
         url('../webfonts/equity/equity_text_b_bold_italic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}