.work .content-text {
  max-width: $max-width-wide;
}

.work-banner {
  img {
    display: block;
    width: 100%;
  }
}

.work-content-title {
  @include h4;
  flex: 1 0 100%;
}

.work-image {
  img {
    display:block;
    width: 100%;
  }
}

.work-content-wrapper {
  display: flex;
  flex-wrap: wrap;

  @media ($bp-m) {
    align-items: baseline;
    margin-bottom: size(4);
  }
}

.work-content {
  @media ($bp-m) {
    flex: 2.25 0 0;
  }
}

.work-details {
  @include spacing-standard;
  margin-bottom: 0;
  width: 100%;

  @media ($bp-m) {
    display: block;
    flex: 1 0 0;
    margin-top: 0;
    min-width: 290px;
    padding-left: size(3);
    width: auto;
  }
}

.work-content-title,
.work-details-title {
  @include h4;
}

.work-details-list {
  display: flex;
  flex-wrap: wrap;
  font-family: $sans-serif;
  list-style: none;
  margin: 0 0 -#{size(-3)};
  padding-left: 0;

  @media ($bp-m) {
    display: block;
    margin-top: size(0);
  }
}

.work-detail {
  flex: 1 0 100%;
  margin: 0 0 size(-2);
  padding-left: 0;
  padding-right: size(1);

  @media ($bp-xs) {
    flex-basis: 50%;
  }

  @media ($bp-m) {
    margin: 0 0 size(0);
    padding-right: 0;
  }
}

.work-detail-label {
  @include bold-spaced-type;
  display: block;
  font-size: size(-3);
}
