.work .content-text {
  padding-bottom: 0;
}

.work-banner {
  img {
    display: block;
    width: 100%;
  }
}

.work-content-title {
  @include h4;
  flex: 1 0 100%;
}

.work-images {
  @include spacing-standard;
}

.work-image {
  @include container-full-width-child;

  img {
    display:block;
    width: 100%;
  }
}

.work-content-wrapper {
  display: flex;
  flex-wrap: wrap;

  @media ($bp-m) {
    align-items: baseline;
    margin-bottom: size(4);
  }
}

.work-content {
  @media ($bp-m) {
    flex: 2.25 0 0;
  }
}

.work-details {
  @include spacing-standard;
  margin-bottom: 0;
  width: 100%;

  @media ($bp-m) {
    display: block;
    flex: 1 0 0;
    margin-top: 0;
    padding-left: size(3);
    width: auto;
  }
}

.work-detail {
  @include spacing-standard(xsmall);
}

.work-content-title,
.work-detail-title {
  @include h4;
}

.work-detail-list {
  display: flex;
  flex-wrap: wrap;
  font-family: $sans-serif;
  list-style: none;
  margin: 0 0 -#{size(-3)};
  padding-left: 0;

  li {
    flex: 1 0 100%;
    margin: 0 0 size(-2);
    padding-left: 0;
    padding-right: size(1);

    @media ($bp-xs) {
      flex-basis: 50%;
    }

    @media ($bp-m) {
      padding-right: 0;
    }
  }

  li strong {
    display: block;
  }

  @media ($bp-m) {
    display: block;
    margin-top: size(0);
  }
}
