.work .content-text {
  padding-bottom: 0;
}

.work-images {
  @include spacing-standard;
}

.work-image {
  @include container-full-width-child;
  margin-bottom: 0;
  margin-top: 0;
}


.archive-work-title,
.archive-work-role {
  // transition: color $animation-time;
}




.archive-work-details {
  // margin: 0;
  // padding: 0;
  //
  // li {
  //   margin-bottom: 0;
  //   padding-left: 0;
  //   list-style: none;
  // }
  //
  // dt {
  //   margin-top: 0;
  // }
  //
  // dd {
  //   padding-left: 0;
  // }
  //
  // @media ($bp-medium) {
  //   @include flexbox;
  //   @include align-items(baseline);
  //
  //   li {
  //     width: calc((100% - #{$gutter-large}) / 2);
  //   }
  //
  //   li + li {
  //     margin-left: $gutter-large;
  //   }
  // }
}
