.nav {
  height: 0;
  width: 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 200;
  overflow-y: auto;

  .js-nav-open--left & {
    height: 100vh;
    width: 100vw;

    &:after {
      @include transition(
        opacity $animation-time-long,
        width 0s,
        height 0s
      );

      height: 100vh;
      width: 100vw;
      opacity: 0.9;
    }
  }

  @media ($bp-when-drawer-expands) {
<<<<<<< HEAD:scss/_nav.scss
    height: auto;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
=======
    &,
    .js-nav-open--left & {
      @include transition(
        opacity 0s,
        width 0s,
        height 0s
      );

      height: 100vh;
      width: $nav-drawer-width;
      position: fixed;
      left: 0;
      top: 0;
    }

    // Adds a shadow
    &:after {
      @include box-shadow(-5px 0 10px rgba($black, 0.5));

      content: "";
      display: block;
      height: 100%;
      width: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
>>>>>>> parent of cb72e53... Finished nav animations; renaming partials and Sass variables:scss/nav.scss
  }
}

.nav-links {
  @include transform(translateX(-100%));
  @include transition(
    transform $animation-time-long $easing-in-out-back,
    width 0s,
    height 0s
  );

  min-height: 100vh;
  padding: $toolbar-height--small 0 $gutter-small;
  width: $nav-drawer-width;
  position: relative;
  z-index: 202;
  overflow-y: auto;

  .js-nav-open--left & {
    @include transform(translateX(0));
  }

  @media ($bp-small) {
    padding-top: $toolbar-height--medium;
  }

  @media ($bp-when-drawer-expands) {
    &,
    .js-nav-open--left & {
      @include transform(translateX(0));
<<<<<<< HEAD:scss/_nav.scss
      @include transition(all 0s);
=======
      @include transition(
        all 0s,
        width 0s,
        height 0s
      );
>>>>>>> parent of cb72e53... Finished nav animations; renaming partials and Sass variables:scss/nav.scss
    }
  }
}

.nav-header {
  @include bold-spaced-type;

<<<<<<< HEAD:scss/_nav.scss
  color: color(grey, 500);
  margin: size(2) 0 size(-2);
  padding-left: size(-2);
  font-size: size(-2);

  @media ($bp-when-drawer-expands) {
    display: none;
  }
=======
  margin: $gutter-medium 0 $gutter-smallest;
  padding-left: $gutter-smaller;
  opacity: 0.5;
  font-size: $type-minus-two;
>>>>>>> parent of cb72e53... Finished nav animations; renaming partials and Sass variables:scss/nav.scss
}

.nav-link,
.nav-link:visited {
  @include transition(
    background-color $animation-time,
    color $animation-time
  );

  display: block;
  padding: ($gutter-smaller + rem(1px)) $gutter-smaller ($gutter-smaller - rem(1px));
  border-bottom: 0;
  color: $inverted-link-color;
  font-family: $sans-serif;
  font-size: $type-base;
  line-height: 1;

  &.is-current-page {
    background-color: rgba($link-hover-color, 0.5);

    &:after {
      content: "←";
      padding-left: $gutter-smallest;
      opacity: 0.5;
    }
  }

  &:hover {
    background-color: rgba($white, 0.2);
    color: $inverted-link-hover-color;
  }

  &:active {
    color: $inverted-link-active-color;
  }
}

  .nav-link--twitter {
    padding: size(-4) size(-7);

<<<<<<< HEAD:scss/_nav.scss
    svg {
      @include transition(fill $animation-time);

      display: block;
      height: size(3);
      width: size(3);
      fill: $twitter-blue;
    }

    &:hover {
      background-color: rgba($twitter-blue, 0.8);

      svg {
        fill: $white;
      }
    }
=======
  svg {
    display: inline-block;
    height: size(3);
    width: size(3);
>>>>>>> parent of cb72e53... Finished nav animations; renaming partials and Sass variables:scss/nav.scss
  }

.nav-close-btn {
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  @include button-hover-state;
  @include transition(background-color $animation-time);

  height: $toolbar-height--small;
  width: $toolbar-height--small;
  position: absolute;
  left: 0;
  top: 0;
  border: 0;

  svg {
    @include transition(fill $animation-time);

    display: block;
    height: 18px;
    width: 18px;
    fill: color(blue, 400);
  }

  &:hover {
    svg {
      fill: $white;
    }
  }

  @media ($bp-small) {
    height: $toolbar-height--medium;
    width: $toolbar-height--medium;
  }

  @media ($bp-when-drawer-expands) {
    display: none;
  }
}
