.nav {
<<<<<<< HEAD:scss/_nav.scss
  @include flexbox;
  @include flex-direction(column);
  @include transform(translateX(-100%));
  height: 100vh;
=======
  height: 0;
  width: 0;
  position: fixed;
>>>>>>> reverted-nav-state:scss/nav.scss
  left: 0;
  position: fixed;
  top: 0;
<<<<<<< HEAD:scss/_nav.scss
  width: $nav-width-drawer;
  background-color: blue;
=======
  z-index: 200;
  overflow-y: auto;
>>>>>>> reverted-nav-state:scss/nav.scss

  .js-nav-open--left & {
    height: 100vh;
    width: 100vw;

    &:after {
      @include transition(
        opacity $animation-time-long,
        width 0s,
        height 0s
      );

      height: 100vh;
      width: 100vw;
      opacity: 0.9;
    }
  }

  @media ($bp-when-drawer-expands) {
<<<<<<< HEAD:scss/_nav.scss
    @include flex-direction(row);
    @include transform(none);
    display: block;
    height: auto;
    left: auto;
    position: relative;
    top: auto;
    width: auto;
  }
}

.nav-header {
  @include h4;
  color: $color-ui-medium;
  font-size: size(-2);
  padding: 0 size(0);

  @media ($bp-when-drawer-expands) {
    display: none;
  }
}

.nav-links {
  @include order(2);
  min-height: calc(100vh - #{$toolbar-height});
  padding: size(0) 0;
  position: relative;
  transition:
    transform $animation-time-long $easing-out-quint,
    opacity $animation-time-long;
  width: 100%;
  background-color: purple;
=======
<<<<<<< HEAD:scss/_nav.scss
    height: auto;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
=======
    &,
    .js-nav-open--left & {
      @include transition(
        opacity 0s,
        width 0s,
        height 0s
      );

      height: 100vh;
      width: $nav-drawer-width;
      position: fixed;
      left: 0;
      top: 0;
    }

    // Adds a shadow
    &:after {
      @include box-shadow(-5px 0 10px rgba($black, 0.5));

      content: "";
      display: block;
      height: 100%;
      width: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
>>>>>>> parent of cb72e53... Finished nav animations; renaming partials and Sass variables:scss/nav.scss
  }
}

.nav-links {
  @include transform(translateX(-100%));
  @include transition(
    transform $animation-time-long $easing-in-out-back,
    width 0s,
    height 0s
  );

  min-height: 100vh;
  padding: $toolbar-height--small 0 $gutter-small;
  width: $nav-drawer-width;
  position: relative;
  z-index: 202;
  overflow-y: auto;

  .js-nav-open--left & {
    @include transform(translateX(0));
  }

  @media ($bp-small) {
    padding-top: $toolbar-height--medium;
  }

  @media ($bp-when-drawer-expands) {
    &,
    .js-nav-open--left & {
      @include transform(translateX(0));
<<<<<<< HEAD:scss/_nav.scss
      @include transition(all 0s);
=======
      @include transition(
        all 0s,
        width 0s,
        height 0s
      );
>>>>>>> parent of cb72e53... Finished nav animations; renaming partials and Sass variables:scss/nav.scss
    }
  }
}

.nav-header {
  @include bold-spaced-type;

<<<<<<< HEAD:scss/_nav.scss
  color: color(grey, 500);
  margin: size(2) 0 size(-2);
  padding-left: size(-2);
  font-size: size(-2);
>>>>>>> reverted-nav-state:scss/nav.scss

  @media ($bp-when-drawer-expands) {
    align-items: center;
    display: flex;
    height: $toolbar-height;
    min-height: 0;
    padding: 0;
    transition: all 0s;
  }
=======
  margin: $gutter-medium 0 $gutter-smallest;
  padding-left: $gutter-smaller;
  opacity: 0.5;
  font-size: $type-minus-two;
>>>>>>> parent of cb72e53... Finished nav animations; renaming partials and Sass variables:scss/nav.scss
}

.nav-link,
.nav-link:visited {
  @include align-items(center);
  @include flexbox;
  padding: (size(-6) + rem(1px)) size(-2) (size(-6) - rem(1px));
  border-bottom: 0;
  color: $color-ui-medium;
  font-family: $sans-serif;
  font-size: $type-base;
  line-height: 1;
  transition:
    background-color $animation-time,
    color $animation-time;

  svg {
    display: block;
    fill: $color-icon-default;
    height: size(2);
    margin-right: size(-1);
    transition: fill $animation-time;
    width: size(2);
  }

  &:hover {
    background-color: rgba($color-interactive-hover, 0.1);
    color: $color-interactive-hover;

    svg {
      fill: $color-interactive-hover;
    }
  }

  &:active {
    color: $color-interactive-active;

    svg {
      fill: $color-interactive-active;
    }
  }

  @media ($bp-when-drawer-expands) {
    @include bold-spaced-type;
    border-radius: 0;
    color: $color-ui-dark;
    display: block;
    flex: 1;
    font-size: size(-3);
    background-color: red;

    &:hover {
      background-color: transparent;
    }
  }
}

.nav-link-text {
  display: block;
}

<<<<<<< HEAD:scss/_nav.scss
    .nav-link.nav-link--twitter {
      svg {
        fill: $color-brand-twitter;
      }
    }
=======
<<<<<<< HEAD:scss/_nav.scss
    svg {
      @include transition(fill $animation-time);
>>>>>>> reverted-nav-state:scss/nav.scss

    .nav-link.nav-link--github {
      svg {
        fill: $color-brand-github;
      }
    }

    @media ($bp-when-drawer-expands) {
      .nav-link--home {
        display: none;
      }

      .nav-link--about svg,
      .nav-link--work svg,
      .nav-link--writing svg {
        display: none;
      }

      .nav-link--twitter,
      .nav-link--github {
        svg {
          margin-right: 0;
        }

        .nav-link-text {
          display: none;
        }
      }
    }

.nav-link.is-current-page,
.nav-link.is-current-page:visited {
  background-color: rgba($color-interactive-hover, 0.6);
  color: $white;

  &::after {
    content: "â†";
    padding-left: size(-4);
    opacity: 0.6;
  }

  svg {
    fill: $white;
  }

  @media ($bp-when-drawer-expands) {
    background-color: transparent;
    background-color: yellow;
    color: $color-interactive;

    &::after {
      display: none;
    }
=======
  svg {
    display: inline-block;
    height: size(3);
    width: size(3);
>>>>>>> parent of cb72e53... Finished nav animations; renaming partials and Sass variables:scss/nav.scss
  }
}

.nav-close-btn {
  @include align-items(center);
  @include flexbox;
  @include flex-shrink(0);
  @include justify-content(center);
  @include nav-button-hover-state;
  @include order(1);
  border: 0;
  height: $toolbar-height;
  position: relative;
  width: $toolbar-button-width;

  svg {
    display: block;
    fill: $color-interactive;
    height: 18px;
    width: 18px;
    transition: fill $animation-time;
  }

  &:hover svg {
    fill: $color-interactive-hover;
  }

  @media ($bp-when-drawer-expands) {
    display: none;
  }
}
