---
title: Writing
---

<section id="archive-posts" class="archive">
  <ul class="archive-list">
    
  {%for post in site.categories.writing %}
    {% unless post.next %}
  <h2 class="archive-year">{{ post.date | date: '%Y' }}</h2>

  <ul class="archive-list">
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
  </ul>

  <hr class="archive-divider">

  <h2 class="archive-year">{{ post.date | date: '%Y' }}</h2>

  <ul class="archive-list">
      {% endif %}
    {% endunless %}
    <li class="archive-list-item">
      <article class="archive-post">
        <a href="{{ post.url }}" class="archive-link" title="{{ post.title }}">
          <h1 class="archive-post-title">{{ post.title }}</h1>

          <!-- Dots between title and year -->
          <div class="archive-post-dots"></div>

          <time class="archive-post-date" data-full="{{ post.date | date: "%A, %B %-d, %Y" }}">
            <span class="shorthand">{{ post.date | date: "%b %-d" }}</span>
          </time>
        </a>
      </article>
    </li>
  {% endfor %}
  </ul>
</section>
