---
title: Writing
---

<section id="archive-posts" class="archive">
  {%for post in site.posts %}
    {% unless post.next %}
  <h2>{{ post.date | date: '%Y' }}</h2>
  
  <ul class="archive-list">
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
  </ul>
  
  <h2>{{ post.date | date: '%Y' }}</h2>
  
  <ul class="archive-list">
      {% endif %}
    {% endunless %}
    <li>
      <article class="archive-post">
        <a href="{{ post.url }}" class="archive-link">
          <h1 class="archive-post-title">{{ post.title }}</h1>
          <time class="archive-post-meta">{{ post.date | date: "%b %-d" }}</time>
        </a>
      </article>
    </li>
  {% endfor %}
  </ul>
</section>