# Ignore sass-cache files
*.sass-cache*

# Ignore Adobe Photoshop files
*.psd*
*.psb*

# Ignore OS X ds_store files
.DS_Store

# Ignore compiled _site
_site/**

# Ignore Jekyll meta data
.jekyll-metadata