<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    {% if page.title %}
    {{ page.title }} &lsaquo; Hawkeward.com
    {% else %}
    Hawkeward.com
    {% endif %}
  </title>

  {% if page.listexcerpt %}
  <meta name="description" content="{{ page.listexcerpt }}">
  {% else %}
  <meta name="description" content="An online portfolio by W. Hawke Bassignani">
  {% endif %}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="icon" type="image/png" href="/favicon.png" />

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,800italic,400,800,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/main.css">
  <!--[if lt IE 9]>
  <link rel="stylesheet" href="/css/ie.css">
  <![endif]-->
  {% if page.customcss %}
  <link rel="stylesheet" href="/css/{{ page.slug }}.css">
  {% endif %}
  {% if page.customcssie %}
  <!--[if lt IE 9]>
  <link rel="stylesheet" href="/css/{{ page.slug }}-ie.css">
  <![endif]-->
  {% endif %}

  <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>
  <svg xmlns="http://www.w3.org/2000/svg" class="display-none" preserveAspectRatio="none">
    <symbol id="hawkeward-logo">
      <path d="M49,21.1c-0.7-1.8-1.7-3.2-3-4.5l-0.2-0.2c2.3-4.8,1-10.8-3.2-14C40,0.5,37.5,0,34,0v0h-1.8v23h-2.7V0h-1.8v23h-5.5V0h-1.8v23h-2.7V0h-1.8v37l-2.5-4.8v-5.5v-3.7V0h-1.7v19.7l-2.8-7L6,19.5V0H4.3v22.8v3.6L6,23.1l2.7-5.3l2.8,5.5v5.5l-2.8-5.5L6,28.6l-1.7,3.3l-2.6,5v-5.5v-3.7V0H0v31.1v3.7V40h2l2.3-4.4L6,32.2l2.7-5.3l2.8,5.6l1.7,3.3l2.2,4.2h1.2v0l0.9,0V29.3h2.7V40h1.8V29.3h5.5V40h1.8V27.5H17.6v-2.7h14.6V40H34v0c4.6,0,9.1-0.8,12.4-4.4C50,31.7,51,25.9,49,21.1z M34,19.1c2.6-0.8,5.8-0.1,7.6,2c2.4,2.4,2.8,6.2,1.1,9.2c-1.9,2.9-5.3,4.3-8.7,3.3V19.1z M34,16.7V6.3c3.3-0.8,6.5,1.8,6.7,5.1C40.9,14.8,37.4,17.6,34,16.7zM44.7,34.7c-2.8,2.8-6.8,4-10.7,3.3v-2.7c4.7,1.1,9.6-1.7,11.1-6.3c1.5-4.8-1.2-10-6-11.6c3.2-2,4.3-6.4,2.4-9.6C40,5.3,36.9,4,34,4.5V1.9c2.9-0.4,5.8,0.5,8,2.5c3.4,3.3,4,8.6,1.5,12.5c0.6,0.4,1,0.7,1.4,1.2C49.4,22.6,49.3,30.2,44.7,34.7z" viewBox="0 0 50 40" />
    </symbol>
  </svg>

  <header id="Header" class="section">
    <div class="torso cf">
      <a href="{{ site.baseurl }}" id="Header-logo">
        <svg><use xlink:href="#hawkeward-logo" /></svg>
      </a>

      <a href="#" id="MobileNavOpener">Menu</a>

      <nav id="MainNav">
        <ul id="MainNav-links">
          <li class="MainNav-link"><a href="/work">Work</a></li>
          <li class="MainNav-link"><a href="mailto:hawke[at]hawkeward[dot]com">Contact</a></li>
          <li class="MainNav-link"><a href="http://www.twitter.com/hawkeward">@hawkeward</a></li>
        </ul>
      </nav>
    </div>
  </header>