{% if this_image %}
  {% assign srcset_string = "" %}
  {% assign caption = "" %}

  {% for option in this_image %}
    {% unless option.caption %}
      {% capture srcset_string %}{{ srcset_string }}, {{ option.url }} {{ option.size }}w{% endcapture %}
    {% else %}
      {% assign caption = option.caption %}
    {% endunless %}
  {% endfor %}

  {% capture srcset_string %}{{ srcset_string | remove_first: ", " }}{% endcapture %}

  <img src="{{ this_image[0].url }}" srcset="{{ srcset_string }}">
{% endif %}
