<nav id="nav-left" class="nav">
  <div class="nav-drawer">
{% if active_nav_item == "about" %}{% endif %}

{% for item in nav_array %}
{{ item }}
{% endfor %}

  	<a href="/writing" class="nav-link" {% if active_nav_item == "writing"%}class="is-active"{% endif %}>Writing</a>
  	<a href="/work" class="nav-link" {% if active_nav_item == "work"%}class="is-active"{% endif %}>Work</a>
  	<a href="/about" class="nav-link">About</a>
  	<a href="http://www.twitter.com/hawkeward" class="nav-link">@hawkeward</a>
  
    <a href="#" id="nav-close-btn--left" class="nav-close-btn">
      <svg><use xlink:href="/images/icons/icon-sprite.svg#icon-close" /></svg>
    </a>
  </div>
</nav>