<nav id="nav-left" class="nav">
  <div class="nav-drawer">
{% for group in site.data.nav_items %}
  <h1 class="nav-header">{{ group.name }}</h1>

  {% for item in group.links %}

    {% assign class_string = "nav-link" %}

      {% if item.url contains active_nav_item %}
      {% capture class_string %}{{ class_string }} is-current-page{% endcapture %}
      {% endif %}

    <a href="{{ item.url }}" class="{{ class_string }}">{{ item.name }}</a>

  {% endfor %}
{% endfor %}
  
    <a href="#" id="nav-close-btn--left" class="nav-close-btn">
      <svg><use xlink:href="/images/icons/icon-sprite.svg#icon-close" /></svg>
    </a>
  </div>
</nav>