<nav id="nav-left" class="nav">
  <div class="nav-drawer">
    <ul id="timeline-left" class="timeline">

{% for item in site.posts %}
      <li id="timeline-item-{{ item.category }}" class="timeline-item">
        <a href="{{ item.url }}">
{% capture item_date %}{{ item.date | date: "%Y-%m-%d" }}{% endcapture %}
{% capture item_date_unix %}{{ item.date | date: "%s" }}{% endcapture %}
          <p class="timeline-item-meta">{{ item.category }}</p>
          <h1 class="timeline-item-title">{{ item.title }}</h1>
          <time class="timeline-item-meta" datetime="{{ item_date }}" data-unixtime="{{ item_date_unix | plus: 0 }}">{{ item.date | date: "%B %-d, %Y" }}</time>
        </a>
      </li>
{% endfor %}

    </ul>

  	<a href="#" class="nav-link" {% if active_nav_item == "about"%}class="is-active"{% endif %}>About</a>
  	<a href="http://www.twitter.com/hawkeward" class="nav-link">@hawkeward</a>
  
    <a href="#" id="nav-close-btn--left" class="nav-close-btn">
      <svg><use xlink:href="/images/icons/icon-sprite.svg#icon-close" /></svg>
    </a>
  </div>
</nav>