{% if page.url contains "2016/" %}
{% assign active_nav_item = "blog" %}
{% endif %}

  <header id="header" class="container">
    <a href="/" class="hawkeward-logo">Hawkeward</a>

    <a href="#" class="nav-open-btn">
      <svg><use xlink:href="/images/icons/icon-sprite.svg#icon-menu" /></svg>
    </a>

    <nav class="nav">
    	<a href="#" {% if active_nav_item == "blog"%}class="is-active"{% endif %}>Writing</a>
    	<a href="#" {% if active_nav_item == "work"%}class="is-active"{% endif %}>Work</a>
    	<a href="#" {% if active_nav_item == "about"%}class="is-active"{% endif %}>About</a>
    	<a href="#">@hawkeward</a>

      <a href="#">Close Menu</a>
    </nav>
  </header>