// Unordered and ordered lists
ul,
ol {
  @include standard-margins;

  padding-left: size(4);

  ul,
  ol {
    margin-bottom: 0;
		margin-top: size(-2);
  }
}

  ul { list-style: disc; }
  ol ul,
  ul ul { list-style: circle; }

  ol { list-style: decimal; }
  ol ol,
  ul ol { list-style: lower-roman; }

li {
	margin-bottom: size(-2);
  padding-left: size(-4);
}


// Definition lists
dl {
  @include standard-margins;
}

dt {
	@include heading-styles;
  @include h4;

  margin-top: 0;
}

dd {
  @include standard-margins;

	padding-left: size(0);

	&:last-child {
		margin-bottom: 0;
	}
}
