// Code blocks
code {
  @include border-radius;
	@include standard-margins;

  background-color: $color-ui-subtle;
  font-size: size(-1);
  padding: size(-4);

  pre & {
    padding: 0;
  }
}

pre {
	@include border-radius;
	@include soft-box-shadow;
  @include standard-margins;

  padding: size(0);
  width: auto;
  background-color: color(grey, 50);
}
