// Blockquotes
blockquote {
  @include spacing-standard;
  border-left: size(-6) solid rgba($color-ui-light, 0.4);
  color: $color-text-faded;
  font-size: size(0);
  margin-left: size(0);
  padding: 0 0 0 size(0);
}


// Pull quotes
.pull-quote {
  @include soft-box-shadow;
  @include spacing-standard;
  background-color: $white;
  font-family: $sans-serif;
  font-size: size(0);
  padding: size(0);

  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.pull-quote-source {
  @include meta;
  margin-top: size(-6);
}
