// Blockquotes
blockquote {
  @include spacing-standard;

  border-left: size(-6) solid $color-ui-subtle;
  color: $color-text-faded;
  font-size: size(0);
  padding: 0 0 0 size(0);
}


// Pull quotes
.pull-quote {
	@include border-radius;
	@include soft-box-shadow;
  @include spacing-standard;
  background-color: $color-ui-subtle;
  font-family: $sans-serif;
  font-size: size(0);
  padding: size(0);

  p {
    margin-bottom: 0;
  }
}

.pull-quote-source {
	@include meta;
	margin-top: size(-4);
}
