// Buttons
button,
.button,
input[type="button"] {
  @include border-radius;
	@include bold-spaced-type;
	@include soft-box-shadow($color-interactive);
	@include standard-margins;
  @include transition(background-color $animation-time, border $animation-time, background-color $animation-time);
  background-color: $color-interactive;
  border: 0;
  color: $white;
  display: block;
  font-size: size(-1);
  line-height: 1;
  padding: calc(#{size(3)/2} + 1px) size(3) calc(#{size(3)/2} - 1px);
	position: relative;
  text-align: center;
  text-decoration: none;
  width: 100%;

  -webkit-appearance: none;
          appearance: none;

  &.is-hover,
  &:hover {
    background-color: $color-interactive-hover;
    color: $white;
  }

  &.is-active,
  &:active {
    background-color: $color-interactive-active;
    color: $white;
  }

  &.is-disabled, &.is-disabled:hover, &.is-disabled:active,
  &:disabled, &:disabled:hover, &:disabled:active {
    background-color: $color-ui-subtle;
    border: $border-width solid $color-ui-light;
    color: $color-ui-light;
		cursor: default;

    // Hides shadow from @mixin soft-box-shadow
		&:after {
			display: none;
		}
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media ($bp-s) {
    display: inline-block;
    width: auto;
  }
}

.button-secondary,
input[type="button"].button-secondary {
  background-color: transparentize($color-interactive, 0.8);
  border: $border-width solid transparentize($color-interactive, 0.4);
  color: $color-interactive;

  &.is-hover,
  &:hover {
		background-color: transparentize($color-interactive, 0.9);
    border-color: transparentize($color-interactive-hover, 0.6);
    color: $color-interactive-hover;
  }

  &.is-active,
  &:active {
		background-color: transparentize($color-interactive, 0.8);
    border-color: transparentize($color-interactive-active, 0.4);
    color: $color-interactive-active;
  }

  // Hides shadow from @mixin soft-box-shadow
	&:after {
		display: none;
	}
}
