// Buttons
button,
.button,
input[type="button"] {
  @include bold-spaced-type;
  @include soft-box-shadow(color(blue, 600));
  @include spacing-standard;
  background-color: $color-interactive;
  border: 0;
  border-radius: $border-radius;
  color: $white;
  display: block;
  font-size: size(-1);
  line-height: 1;
  padding: calc(#{size(4)/2}) size(4);
  position: relative;
  text-align: center;
  text-decoration: none;
  transition:
    background-color $animation-time,
    border $animation-time,
    background-color $animation-time,
    opacity $animation-time,
    transform $animation-time;
  width: 100%;

  -webkit-appearance: none;
          appearance: none;

  &.is-hover,
  &:hover {
    background-color: $color-interactive-hover;
    color: $white;
  }

  &.is-active,
  &:active {
    @include transform(scale(0.96));
    background-color: $color-interactive-active;
    color: $white;
    opacity: 0.8;
  }

  &.is-disabled, &.is-disabled:hover, &.is-disabled:active,
  &:disabled, &:disabled:hover, &:disabled:active {
    @include transform(none);
    background-color: $color-ui-subtle;
    border: $border-width solid $color-ui-light;
    box-shadow: none;
    color: $color-ui-light;
    cursor: default;
    opacity: 1;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media ($bp-s) {
    display: inline-block;
    width: auto;
  }
}

.button-secondary,
input[type="button"].button-secondary {
  @include soft-box-shadow(color(blue, 300));
  background-color: transparentize($color-interactive, 0.8);
  border: $border-width solid transparentize($color-interactive, 0.4);
  color: $color-interactive;

  &.is-hover,
  &:hover {
    background-color: transparentize($color-interactive, 0.9);
    border-color: transparentize($color-interactive-hover, 0.6);
    color: $color-interactive-hover;
  }

  &.is-active,
  &:active {
    background-color: transparentize($color-interactive, 0.8);
    border-color: transparentize($color-interactive-active, 0.4);
    color: $color-interactive-active;
  }
}
