.photo {
  @include spacing-standard;
  @include soft-box-shadow;

  img {
    display: block;
    width: 100%;
  }

  @media ($bp-s) {
    &.photo-small {
      width: 50%;
    }

    &.photo-medium {
      width: 75%;
    }
  }
}

.caption {
  background-color: $white;
  color: color(grey, 500);
  font-family: $sans-serif;
  font-size: $type-minus-one;
  padding: size(0);

  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}
