// Dividers
hr {
  // @include box-shadow(inset 0 2px 4px $color-ui-light);
  @include spacing-standard(medium);
  background-color: rgba($color-ui-subtle, 0.6);
  border-bottom: $border-width solid rgba($color-ui-light, 0.4);
  border-left: 0;
  border-right: 0;
  border-top: $border-width solid rgba($color-ui-light, 0.4);
  height: size(-4);
  opacity: 0.5;
}
