// Tables
table {
  @include standard-margins;
	background-color: $white;
  border: $border-width solid $color-ui-light;
	font-family: $sans-serif;
	font-size: size(-1);
	line-height: 1;
  width: 100%;

  td,
  th {
    padding: calc(#{size(0)/2} + 1px) size(0) calc(#{size(0)/2} - 1px);
		text-align: left;
  }

    th {
      color: $color-heading;
      font-size: size(-2);
      padding: calc(#{size(2)/2} + 1px) size(2) calc(#{size(2)/2} - 1px);
    }

  tr:nth-child(2n) {
    background-color: transparentize($color-ui-subtle, 0.5);
  }

  thead {
		@include bold-spaced-type;
    background-color: $color-ui-subtle;
    border-bottom: $border-width solid $color-border;
  }

  tfoot {
    border-top: $border-width dashed $color-border;
    font-weight: 700;
  }
}
