// Base colors (the raw hues)
// These come from Google Material Design's scheme
$red:       #FF5722;
$green:     #4CAF50;
$blue:      #2196F3;
$grey:      #6d6c6b;
$white:     #FFF;
$black:     #000;


// Adjust the color colors
// First, set the supported values (i.e. darkness/lightness)
$value-list: 50, 100, 200, 300, 400, 500, 600, 700, 800, 900; // values

// Second, create an empty Sass map
$color-map: (); // empty map

// Finally, build $color-map dynamically by looping and merge Sass maps
@each $color-value in $value-list {
  // Create a temporary Sass map with new colors
  $new: (
    red-#{$color-value}: adjust-color-by-value($red, $color-value),
    green-#{$color-value}: adjust-color-by-value($green, $color-value),
    blue-#{$color-value}: adjust-color-by-value($blue, $color-value),
    grey-#{$color-value}: adjust-color-by-value($grey, $color-value)
  );

  // Merge the temporary map into the official/permanent one
  $color-map: map-merge($color-map, $new);

  // Declare some helper color classes
  .bg-red-#{$color-value} { background-color: color(red, $color-value); }
  .bg-green-#{$color-value} { background-color: color(green, $color-value); }
  .bg-blue-#{$color-value} { background-color: color(blue, $color-value); }
  .bg-grey-#{$color-value} { background-color: color(grey, $color-value); }
}
