// prevent string from wrapping
.no-break {
  white-space: nowrap;
}


// Image replacement
@mixin image-replacement {
  text-indent: -9999px;
}

@mixin undo-image-replacement {
  text-indent: initial;
}
