// Display none
.display-none {
  display: none;
}


// -- Clearfix
.clearfix, .cf {
  zoom: 1;
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; }
}


// -- No-break (to new lines)
.no-wrap {
  white-space: nowrap;
}
