// Theme colors
$color-background:            color(grey, 25);
$color-ui-dark:               color(grey, 800);
$color-ui-medium:             color(grey, 500);
$color-ui-light:              color(grey, 200);
$color-ui-subtle:             color(grey, 50);

$color-text:                  color(grey, 800);
$color-text-faded:            color(grey, 400);
$color-heading:               $black;

$color-interactive:           color(blue, 600);
$color-interactive-hover:     lighten($color-interactive, 10%);
$color-interactive-active:    darken($color-interactive, 10%);

$color-border:                $color-ui-light;
$color-icon-default:          rgba($color-ui-medium, 0.6);

$color-background-header:     $white;

$color-brand-github:          #6cc644;
$color-brand-twitter:         #55acee;
$color-brand-facebook:        #3b5998;
$color-brand-instagram:       #3f729b;


// Typography
$sans-serif:                  "Concourse", sans-serif;
$serif:                       "Equity", serif;

$type-base-size:              20px;
$type-ratio:                  1.125;
$letter-spacing:              0.1em;
$line-height:                 power($type-ratio, 4);
$line-height-tight:           power($type-ratio, 2);


// DELETE THIS LATER -->
$type-minus-three:            size(-3);
$type-minus-two:              size(-2);
$type-minus-one:              size(-1);
$type-base:                   size(0);
$type-plus-one:               size(1);
$type-plus-two:               size(2);
$type-plus-three:             size(3);
$type-plus-four:              size(4);
$type-plus-five:              size(5);
// <-- DELETE THIS LATER


// Animations
$animation-time-short:        0.1s;
$animation-time:              0.2s;
$animation-time-long:         0.4s;

$easing-in-out-back:          cubic-bezier(0.68, -0.55, 0.265, 1.55);
$easing-out-quint:            cubic-bezier(0.23, 1, 0.32, 1);
$easing-in-quint:             cubic-bezier(0.755, 0.05, 0.855, 0.06);

$amount-brighten:             1.1;
$amount-fade:                 0.8;

// DELETE THIS LATER -->
// Gutters/Margins/Padding/Layout
$gutter-largest:              size(6) * 2;
$gutter-larger:               size(6);
$gutter-large:                size(4);
$gutter-medium:               size(2);
$gutter-small:                size(0);
$gutter-smaller:              size(-2);
$gutter-smallest:             size(-4);
// <-- DELETE THIS LATER


// Layout
$border-width:                2px;
$border-radius:               6px;
$toolbar-height:              2.5rem;
$toolbar-button-width:        2.7rem;
$nav-width-drawer:            13rem;
$nav-width-sidebar:           12rem;
$max-width-narrow:            33rem;
$max-width-medium:            50rem;
$max-width-wide:              64rem;


// Breakpoints
$bp-xs:                       'min-width: 30em';    //  480px
$bp-s:                        'min-width: 40em';    //  640px
$bp-m:                        'min-width: 60em';    //  960px
$bp-l:                        'min-width: 80em';    // 1280px
$bp-xl:                       'min-width: 100em';   // 1600px
$bp-xxl:                      'min-width: 120em';   // 1920px

$bp-smaller:                  'min-width: 30em';    //  480px
$bp-small:                    'min-width: 40em';    //  640px
$bp-medium:                   'min-width: 50em';    //  800px
$bp-large:                    'min-width: 60em';    //  960px
$bp-larger:                   'min-width: 70em';    // 1120px

$bp-when-drawer-expands:      $bp-s;
