// prevent string from wrapping
@mixin no-break {
  white-space: nowrap;
}

.no-break {
  @include no-break;
}


// Image replacement
@mixin image-replacement {
  text-indent: -9999px;
}

@mixin undo-image-replacement {
  text-indent: initial;
}
