---
title: Work
---

<section id="archive-works" class="archive">

{% for work in site.categories.work %}

  <a href="{{ work.url }}" class="archive-link">
    <div class="archive-item">

{% if work.archive_image %}
  {% assign this_image = work.archive_image %}
      <div class="archive-item-image">
  {% include img-srcset.html %}
      </div>
  {% assign this_image = null %}
{% endif %}

      <h2 class="archive-item-title">{{ work.title }}</h2>
      <p class="archive-item-dek">Lorem ipsum dolor sit, blah blah blah. Something something…</p>
      <span class="archive-item-role">{{ work.role }} ({{ work.type }})</span>
    </div>
  </a>
{% endfor %}
</section>
