---
---

{% include header.html %}

  <main class="container">
    <header class="post-header torso-narrow">
      <time class="post-meta">{{ page.date | date: "%B %-d, %Y" }}</time>
      <h1 class="post-title">{{ page.title }}</h1>
    </header>

    <article class="post torso-narrow">
{% assign this_image = page.banner %}

{% if this_image %}
      <div class="post-banner photo">
{% include img-srcset.html %}
      </div>
{% endif %}

{{ content }}
    </article>

{% unless page.hide_author_description == false %}
    <footer class="post-footer torso-narrow">
      <p class="author"><strong>Hawke</strong> is a designer at <a href="http://www.blizzard.com">Blizzard Entertainment</a>. Interests: typography, web development, indoor rock climbing, video games, coffee, and European history. Want to learn more? <a href="/about">Of course you&nbsp;do.</a></p>

      <p>Read his not-overly-hashtagged tweets on <a href="http://www.twitter.com/hawkeward">Twitter (@hawkeward)</a>. <span class="hashtag">#doit</span></p>
    </footer>
{% endunless %}
  </main>

{% include footer.html %}
