---
---

{% include header.html %}

  <main id="content">
    {% if page.banner_image %}
      {% assign this_image = page.banner_image %}
          <div class="work-banner">
    {% include img-srcset.html %}
          </div>
      {% assign this_image = null %}
    {% endif %}

    <article class="container content-text">
      <header class="work-header post-header">
        <h1 class="content-title post-title">{{ page.title }}</h1>
      </header>

      <div class="work-content-wrapper">
        <div class="work-content">
          <h2 class="work-content-title">Project Overview</h2>
          {{ content }}
        </div>

        <aside class="work-details">
          <h2 class="work-details-title">Details</h2>

          <ul class="work-details-list">
            <li class="work-detail">
              <strong class="work-detail-label">Client or Company:</strong> {{ page.client }}
            </li>
            <li class="work-detail">
              <strong class="work-detail-label">Role:</strong> {{ page.role }}
            </li>
            <li class="work-detail">
              <strong class="work-detail-label">Date:</strong> {{ page.date | date: "%B %Y" }}
            </li>
          </ul>
        </aside>
      </div>
    </article>

{% if page.work_images %}
  <div class="work-images">
  {% for work_image in page.work_images %}
    {% if work_image %}
      {% assign this_image = work_image %}
    <div class="work-image">{% include img-srcset.html %}</div>
      {% assign this_image = null %}
    {% endif %}
  {% endfor %}
  </div>
{% endif %}
  </main>

{% include footer.html %}
