---
---

{% include header.html %}

  <main id="content">
    {% if page.banner_image %}
      {% assign this_image = page.banner_image %}
          <div class="work-banner">
    {% include img-srcset.html %}
          </div>
      {% assign this_image = null %}
    {% endif %}

    <article class="container content-text">
      <header class="work-header post-header">
        <h1 class="content-title post-title">{{ page.title }}</h1>
      </header>

      <div class="work-content">
        <h2 class="work-content-title">Project Details</h2>
{{ content }}
      </div>

      <aside class="work-details">
        <div class="work-detail">
          <h2 class="work-detail-title">Client/Company</h2>
          {{ page.client }}
        </div>
        <div class="work-detail">
          <h2 class="work-detail-title">Role</h2>
          {{ page.role }}
        </div>
        <div class="work-detail">
          <h2 class="work-detail-title">Date</h2>
          {{ page.date | date: "%B %Y" }}
        </div>
      </aside

{% if page.work_images %}
      <div class="work-images">
  {% for work_image in page.work_images %}
    {% if work_image %}
      {% assign this_image = work_image %}
        <div class="work-image">
{% include img-srcset.html %}
        </div>
      {% assign this_image = null %}
    {% endif %}
  {% endfor %}
      </div>
{% endif %}
    </article>
  </main>

{% include footer.html %}
