---
---

{% include header.html %}

  <main id="content">
    {% if page.banner_image %}
      {% assign this_image = page.banner_image %}
          <div class="work-banner">
    {% include img-srcset.html %}
          </div>
      {% assign this_image = null %}
    {% endif %}

    <article class="container content-text">
      <header class="work-header post-header">
        <h1 class="content-title post-title">{{ page.title }}</h1>
      </header>

<div class="work-content-wrapper">

      <div class="work-content">
        <h2 class="work-content-title">Project Overview</h2>
        {{ content }}
      </div>

      <aside class="work-details">
        <h2 class="work-detail-title">Details</h2>

        <ul class="work-detail-list">
          <li><strong>Client or Company:</strong> {{ page.client }}</li>
          <li><strong>Role:</strong> {{ page.role }}</li>
          <li><strong>Date:</strong> {{ page.date | date: "%B %Y" }}</li>
        </ul>
      </aside>

      <!-- <aside class="work-details">
        <div class="work-detail">
          <h2 class="work-detail-title">Client/Company</h2>
          <p>{{ page.client }}</p>
        </div>
        <div class="work-detail">
          <h2 class="work-detail-title">Role</h2>
          <p>{{ page.role }}</p>
        </div>
        <div class="work-detail">
          <h2 class="work-detail-title">Date</h2>
          <p>{{ page.date | date: "%B %Y" }}</p>
        </div>
      </aside> -->
</div>

{% if page.work_images %}
      <div class="work-images">
  {% for work_image in page.work_images %}
    {% if work_image %}
      {% assign this_image = work_image %}
        <div class="work-image">
{% include img-srcset.html %}
        </div>
      {% assign this_image = null %}
    {% endif %}
  {% endfor %}
      </div>
{% endif %}
    </article>
  </main>

{% include footer.html %}
