---
title: Style Guide
---

  <p>This is a <em>living</em> style guide. It will evolve alongside the main site, <a href="//hawkeward.com">hawkeward.com</a>.</p>

  <section class="styleGuide-section">
    <h2 class="styleGuide-section-header">Colors</h2>

{% assign value_list = "50|100|200|300|400|500|600|700|800|900" | split: "|" %}
{% assign color_list = "red|green|blue|grey" | split: "|" %}

    <div id="swatches">
{% for color in color_list %}
      <ul class="swatch-list">
  {% for value in value_list %}
        <li class="swatch bg-{{ color }}-{{ value }}">{{ color | capitalize }} {{ value }}</li>
  {% endfor %}
      </ul>
{% endfor %}
    </div>
  </section>

  <section class="styleGuide-section">
    <h2 class="styleGuide-section-header">Body text</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mauris purus, dictum sed rhoncus et, efficitur a risus. Curabitur vel odio id nisi ultricies feugiat. <strong>Praesent at augue viverra</strong> neque egestas ornare. Phasellus posuere accumsan aliquet. Duis suscipit, <em>elit sodales bibendum fringilla</em>, est sapien tempus augue, eget ultrices massa dui in dui. Morbi eu mauris ac odio blandit egestas id eu erat. Praesent ultrices vehicula gravida.</p>

    <p>Mauris at velit vitae ipsum bibendum blandit. Fusce sed nisl interdum, molestie mi in, consequat ex. Proin sagittis est nec orci efficitur, tempus interdum tellus scelerisque.</p>

    <p><a href="#" class="action-link">Read more</a></p>
  </section>

  <section class="styleGuide-section">
    <h2 class="styleGuide-section-header">Headings</h2>

    <h1>h1. Heading 1</h1>
    <p>Lorem ipsum…</p>
    <h2>h2. Heading 2</h2>
    <p>Lorem ipsum…</p>
    <h3>h3. Heading 3</h3>
    <p>Lorem ipsum…</p>
    <h4>h4. Heading 4</h4>
    <p>Lorem ipsum…</p>
    <h5>h5. Heading 5</h5>
    <p>Lorem ipsum…</p>
    <h6>h6. Heading 6</h6>
    <p>Lorem ipsum…</p>
  </section>

  <section class="styleGuide-section">
    <h2 class="styleGuide-section-header">Post heading</h2>

    <h1 class="post-title">The quick brown fox jumped over the lazy dog</h1>
    <p class="post-meta">January 1, 1970</p>
  </section>

  <section class="styleGuide-section">
    <h2 class="styleGuide-section-header">Anchor links</h2>

    <p>This is a regular <a href="#" class="is-unvisited">anchor link</a>.</p>
  </section>

  <section class="styleGuide-section">
    <h2 class="styleGuide-section-header">Text action link</h2>

    <p><a href="#" class="action-link">Learn more</a></p>
  </section>

  <section class="styleGuide-section">
    <h2 class="styleGuide-section-header">Blockquote</h2>

    <blockquote>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mauris purus, dictum sed rhoncus et, efficitur a risus. Curabitur vel odio id nisi ultricies feugiat. <strong>Praesent at augue viverra</strong> neque egestas ornare. Phasellus posuere accumsan aliquet. Duis suscipit, <em>elit sodales bibendum fringilla</em>.</p>
    </blockquote>
  </section>

  <section class="styleGuide-section">
    <h2 class="styleGuide-section-header">Pull quote</h2>

    <p>This pull quote has no source:</p>

    <aside class="pull-quote">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mauris purus, dictum sed rhoncus et, efficitur a risus.</p>
    </aside>

    <p>This pull quote has a source:</p>

    <aside class="pull-quote">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mauris purus, dictum sed rhoncus et, efficitur a risus.</p>
      <p class="pull-quote-source">Sam Someone</p>
    </aside>
  </section>

  <section class="styleGuide-section">
    <h2 class="styleGuide-section-header">Code blocks</h2>

    <p>This is a code sample: <code>console.log("Hello world!");</code>.</p>

    <p>Here are some individual tags like <code>&lt;html&gt;</code> and <code>&lt;html&gt;</code>.</p>

<pre><code>&lt;html&gt;
&lt;head&gt;
&lt;title&gt;Sample code&lt;/title&gt;
&hellip;
&lt;/head&gt;
&lt;body&gt;
&hellip;</code></pre>
  </section>

  <section class="styleGuide-section">
    <h2 class="styleGuide-section-header">Buttons</h2>

    <p>Buttons that are anchor tags:</p>

    <a href="#" class="button button-primary">Primary Btn (Anchor)</a>
    <button class="button button-primary">Primary Btn (Button)</button>
    <a class="button button-primary is-disabled">Primary Btn (Disabled)</a>

    <a href="#" class="button button-secondary">Secondary Btn (Anchor)</a>
    <button class="button button-secondary">Secondary Btn (Button)</button>
    <a class="button button-secondary is-disabled">Secondary Btn (Disabled)</a>
  </section>

  <section class="styleGuide-section">
    <h2 class="styleGuide-section-header">Lists</h2>

    <p>First, simple ordered and unordered lists:</p>

    <ol>
      <li>List item 1</li>
      <li>And list item 2</li>
      <li>Finally, list item 3. Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
    </ol>

    <ul>
      <li>List item 1</li>
      <li>And list item 2</li>
      <li>Finally, list item 3</li>
    </ul>

    <p>Second, two-tiered lists:</p>

    <ol>
      <li>List item 1</li>
      <li>
        List item has a sub-list:

        <ol>
          <li>Lorem ipsum…</li>
          <li>… dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
        </ol>
      </li>
      <li>Finally, list item 3. Consectetur adipisicing elit.</li>
    </ol>

    <ul>
      <li>List item 1</li>
      <li>
        List item has a sub-list:

        <ul>
          <li>Lorem ipsum…</li>
          <li>… dolor sit amet</li>
        </ul>
      </li>
      <li>Finally, list item 3. Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
    </ul>

    <p>Third, three-tiered lists:</p>

    <ol>
      <li>List item 1</li>
      <li>
        List item has a sub-list:

        <ol>
          <li>Lorem ipsum…</li>
          <li>… dolor sit amet</li>
        </ol>
      </li>
      <li>
        List item has a sub-list:

        <ol>
          <li>Lorem ipsum…</li>
          <li>
            … dolor sit amet

            <ul>
              <li>Lorem ipsum…</li>
              <li>… dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
            </ul>
          </li>
        </ol>
      </li>
    </ol>

    <ul>
      <li>List item 1</li>
      <li>
        List item has a sub-list:

        <ul>
          <li>Lorem ipsum…</li>
          <li>… dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
        </ul>
      </li>
      <li>
        List item has a sub-list:

        <ul>
          <li>Lorem ipsum…</li>
          <li>
            … dolor sit amet

            <ul>
              <li>Lorem ipsum…</li>
              <li>… dolor sit amet consectetur adipisicing elit.</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </section>

  <section class="styleGuide-section">
    <h2 class="styleGuide-section-header">Definition list</h2>

    <dl>
      <dt>Definition list</dt>
      <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</dd>
      <dt>Lorem ipsum dolor sit amet</dt>
      <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</dd>
    </dl>
  </section>

  <section class="styleGuide-section">
    <h2 class="styleGuide-section-header">Horizontal rule</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mauris purus, dictum sed rhoncus et, efficitur a risus. Curabitur vel odio id nisi ultricies feugiat.</p>

    <hr>

    <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </section>

  <section class="styleGuide-section">
    <h2 class="styleGuide-section-header">Tables</h2>

    <p>This table has a header and footer:</p>

    <table>
      <thead>
        <th>Header Row</th>
        <th>Goes</th>
        <th>Here</th>
        <th>…</th>
      </thead>
      <tfoot>
        <td>Total</td>
        <td>40</td>
        <td>16</td>
        <td>720</td>
      </tfoot>
      <tr>
        <td>Apr. ’17</td>
        <td>34</td>
        <td>5</td>
        <td>678</td>
      </tr>
      <tr>
        <td>Jan. ’17</td>
        <td>2</td>
        <td>9</td>
        <td>8</td>
      </tfoot>
      <tr>
        <td>Oct. ’16</td>
        <td>3</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Jul. ’16</td>
        <td>1</td>
        <td>2</td>
        <td>34</td>
      </tr>
    </table>

    <p>This is a simpler table:</p>

    <table>
      <tr>
        <td>Cheese</td>
        <td>3</td>
        <td>$10.00</td>
        <td>$30.00</td>
      </tr>
      <tr>
        <td>Pepperoni</td>
        <td>2</td>
        <td>$11.50</td>
        <td>$23.00</td>
      </tfoot>
      <tr>
        <td>Hawaiian</td>
        <td>1</td>
        <td>$12.00</td>
        <td>$12.00</td>
      </tr>
      <tr>
        <td>Veggie</td>
        <td>1</td>
        <td>$10.50</td>
        <td>$10.50</td>
      </tr>
    </table>
  </section>

  <section class="styleGuide-section">
    <h2 class="styleGuide-section-header">Images</h2>

    <div class="photo">
      <img src="/assets/writing/placeholders/placeholder-1280x720.png" srcset="/assets/writing/placeholders/placeholder-1280x720.png 1280w, /assets/writing/placeholders/placeholder-960x540.png 960w, /assets/writing/placeholders/placeholder-640x360.png 640w">
    </div>

    <div class="photo">
      <img src="/assets/writing/placeholders/placeholder-1280x720.png" srcset="/assets/writing/placeholders/placeholder-1280x720.png 1280w, /assets/writing/placeholders/placeholder-960x540.png 960w, /assets/writing/placeholders/placeholder-640x360.png 640w">
      <div class="caption">
        <p>This is a caption, lorem ipsum dolor sit amet.</p>
      </div>
    </div>
  </section>
